{{- with .scores -}}
<small class="text-center d-block">
  {{- if (ne .isempty 0) -}}
  <b class="font-bigger font-bold d-block p-relative m-auto w-max-content">
    {{- .scores.compliance -}}%
    {{ if lt (.scores.criteria.total) 110 }}<span ari-hidden="true" class="p-absolute p-top-line p-right-line badge bad d-inline-block">{{ (.scores.criteria.total) }}</span>{{ end }}
  </b>
  <span class="smaller">conformité&nbsp;RGAA</span>
  {{- else -}}
  <b class="font-bigger font-bold d-block">Conformité</b>
  <span class="smaller">En&nbsp;cours</span>
  {{- end -}}
</small>
{{- end -}}
