{{ $value := .value }}
{{- if $value.occurence -}}
  <b class="font-bold d-block m-auto w-full text-center">
    {{ $value.invalid }}<br>
    <small class="smaller">Non</small>
  </b>
  <b class="font-bold d-block m-auto w-full text-center">
    {{ sub (sub ($value.occurence) ($value.valid)) ($value.invalid) }}<br>
    <small class="smaller">Partielle</small>
  </b>
  <b class="font-bold d-block m-auto w-full text-center">
    {{ $value.valid }}<br>
    <small class="smaller">Oui</small>
  </b>
  {{- if gt $value.average 0 -}}
  <b class="font-bold d-block m-auto w-full text-center">
    {{ $value.average }}%<br>
    <small class="smaller">Moyenne</small>
  </b>
{{- end -}}
{{- else -}}
  Aucun Audit {{ .type }} existant
{{- end -}}
