{{/*
  MARK: TEMPLATE diplaying score
*/}}

{{/*
  MARK: Declare Variables
*/}}
{{- if .criteria.testtotal -}}
<div class="scores mb-1">
    <ul class="flex flex-gap flex-wrap">
      <li class="counter text-center d-inline-block good"><span><b>{{ if .criteria.conforme -}}{{ len .criteria.conforme }}{{ else }}0{{ end }}</b><br>{{ i18n "text-criteria" 2 }} {{ i18n "text-compliant" 2 }}</span></li>
      <li class="counter text-center d-inline-block"><span><b>{{ if .criteria.nonapplicable }}{{ len .criteria.nonapplicable }}{{ else }}0{{ end }}</b><br>{{ i18n "text-criteria" 2 }} {{ i18n "text-none" 2 }}</span></li>
      <li class="counter text-center d-inline-block bad"><span><b>{{ if .criteria.nonconforme }}{{ len .criteria.nonconforme }}{{ else }}0{{ end }}</b><br>{{ i18n "text-criteria" 2 }} {{ i18n "text-fail" 2 }}</span></li>
    </ul>
</div>
{{- end -}}
