
.highlight {
  border-radius: 2px;
  margin-bottom: 20px;
}
code {
  background: #f5f5f5;
  padding: 3px 6px;
  border-radius: 3px;
  font-family: $font-family-mono;
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--code-color);
}
pre {
  font-family: $font-family-mono;
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0;
  padding: 10px;
  border-radius: 1px;
  code {
    font-family: $font-family-mono;
    font-size: 0.9rem;
    line-height: 1.4;
    border-radius: none;
    padding: 0;
    margin: 0;
    background: none;
  }
}

hr {
  margin: 2em 0;
  border: none;
  border-top: 2px solid;
}


strong {
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: normal;
}
ol {
  margin-top: 10px;
  margin-bottom: 20px;
  list-style-type: decimal;
  li {
    margin-bottom: 5px;
    margin-left: 20px;
  }
}
ul {
  margin-top: 10px;
  margin-bottom: 20px;
  list-style-type: disc;
  li {
    margin-bottom: 5px;
    margin-left: 20px;
  }
}
a {
  font-weight: 800;
  text-decoration: underline;
}
p {
  font-family: $font-family-base;
  font-size: 1rem;
  font-weight: 400;
}
h1 {
  font-family: $font-family-title;
  font-size: 3.8rem;
  line-height: 1;
  font-weight: 800;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: -0.01em;
  font-family: $font-family-title;
  line-height: 1.3;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
  color: var(--link-color);
}
h3 {
  font-size: 1.8rem;
  font-weight: 800;
  font-family: $font-family-title;
  line-height: 1.3;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.4rem;
  font-weight: 800;
  font-family: $font-family-title;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}
h5 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: $font-family-title;
  margin-top: 5px;
  margin-bottom: 5px;
}
h6 {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: $font-family-title;
  margin-bottom: 20px;
}
blockquote {
  max-width: 100%;
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 0.5em;
  padding: 0 10px 0.5em;
  quotes: '''''''';
  color: #333;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.content {
  table {
    @extend .table;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
