{{- define "main" -}}
{{- $data      := newScratch -}}
{{- partialCached "utils/css.html" (dict "context" . "filefolder" "base" "filename" "layout" "inline" "true") "layout" -}}
{{- partialCached "utils/css.html" (dict "context" . "filefolder" "object" "filename" "card") "card" -}}

{{- $.Scratch.Set "guidelinename" "publishing" -}}
{{- $.Scratch.Set "guidelineversion" "1.0" -}}
{{/*- if ge ($patharray) 2 -}}
  {{- $.Scratch.Set "guideline" (index $patharray 0) -}}
  {{- $.Scratch.Set "guidelinename" (index $patharray 0) -}}
  {{- $.Scratch.Set "guidelineversion" (index $patharray 1) -}}
{{- end -*/}}
{{- $criteriafile := (index (index $.Site.Data ($.Scratch.Get "guidelinename")) ($.Scratch.Get "guidelineversion")).criteres -}}

<article class="fg-wrapper narrow">
<style>
  ul, ol {
    padding-left: 1rem;
  }
  .titre, .important, .important + p {
    font-weight: bold;
  }
  .important, .important + * {
    color: var(--color-primary);
  }
  .background {
    background: #dedede;
  }
  .invert {
    padding: 0.25em 0.4em 0.25em;
    color: #fefefe;
    background: #333;
  }
  .svgblue {
    stroke: #00697a;
    fill: transparent;

  }
  .svgblue.empty {
    stroke: #b8d6da;
    fill: #b8d6da;
  }
  .svggreen {
    fill: #80a13d;
    stroke: #fff;
    stroke-width: 0;
  }
  .svggreen.empty {
    fill: transparent;
    stroke: #80a13d;
    stroke-width: 0.1px;
  }
</style>
<h1>{{ (index (index $.Site.Data ($.Scratch.Get "guidelinename")) ($.Scratch.Get "guidelineversion")).title | safeHTML }}</h1>

{{- $data.Set "counterthematique" 0 }}
{{- $data.Set "thematique" slice }}
{{- $data.Set "subject" slice }}
{{- range $key1, $value1 := $criteriafile -}}
  {{ $data.Add "thematique" .topic }}
{{- end -}}

{{ partialCached "utils/css.html" (dict "context" . "filefolder" "element" "filename" "tableofcontents") "tableofcontents" }}
<div class="tableofcontents">
<h2>Table des matières</h2>
  <ol class="list-unstyled">
  {{- range $key, $value := uniq ($data.Get "thematique") }}
    <li>{{ add $key 1 }} - <a href="#topic{{ add $key 1 }}">{{ . }}</a></li>
  {{ end -}}
  </ol>
</div>


{{- range $key, $value := uniq ($data.Get "thematique") }}
    <h2 id="topic{{ add $key 1 | urlize }}" >{{ add $key 1 }} - {{ . }}</h2>
    {{- range $key1, $value1 := where $criteriafile "topic" . -}}
      <h3>{{ add $key 1 | urlize }}.{{ add $key1 1 }} - {{ .criterium | markdownify }}</h3>
      <p>
        <strong>Bonne pratique :</strong> {{ .bestpractice | markdownify }}<br>
        <strong>Objectifs :</strong> {{ .goals | markdownify }}
      </p>
      <h3 class="mb-0 invert">Mise en œuvre :</h3>
      <div class="flex flex-gap align-items-center text-center mb-1 card-background p-2" style="align-items: stretch ">
        <p>
          <span class="rank border-50">{{ .priority | urlize }}</span><br>
          {{ range (seq (int .priority)) }}
            <svg width="40px" role="img" class="svggreen" aria-label="priorité" viewBox="0 0 50 50">
              <use xlink:href="{{ $.Site.BaseURL }}assets/images/greenit/picto.svg#priorite" />
            </svg>
          {{ end }}
          {{ range (seq (sub 5 (int .priority))) }}
            <svg width="40px" role="img" class="svggreen empty" aria-label="priorité" viewBox="0 0 50 50">
              <use xlink:href="{{ $.Site.BaseURL }}assets/images/greenit/picto.svg#priorite" />
            </svg>
          {{ end }}
          <br><strong class="invert">Priorité</strong>
        </p>
        <p>
          <span class="rank border-50">{{ .mentality | urlize }}</span><br>
          {{ range (seq (int .mentality)) }}
            <svg width="40px" role="img" class="svggreen" aria-label="priorité" viewBox="0 0 50 50">
              <use xlink:href="{{ $.Site.BaseURL }}assets/images/greenit/picto.svg#social" />
            </svg>
          {{ end }}
          {{ range (seq (sub 3 (int .mentality))) }}
            <svg width="40px" role="img" class="svggreen empty" aria-label="priorité" viewBox="0 0 50 50">
              <use xlink:href="{{ $.Site.BaseURL }}assets/images/greenit/picto.svg#social" />
            </svg>
          {{ end }}
          <br><strong class="invert">Réduction surchage mentale</strong>
        </p>
        <p>
          <span class="rank border-50">{{ .difficulty | urlize }}</span><br>
          {{ range (seq (int .difficulty)) }}
            <svg width="40px" role="img" class="svggreen" aria-label="priorité" viewBox="0 0 50 50">
              <use xlink:href="{{ $.Site.BaseURL }}assets/images/greenit/picto.svg#difficulte" />
            </svg>
          {{ end }}
          {{ range (seq (sub 3 (int .difficulty))) }}
            <svg width="40px" role="img" class="svggreen empty" aria-label="priorité" viewBox="0 0 50 50">
              <use xlink:href="{{ $.Site.BaseURL }}assets/images/greenit/picto.svg#difficulte" />
            </svg>
          {{ end }}
          <br><strong class="invert">Difficulté mise en œuvre</strong>
        </p>
      </div>
    {{ end -}}
{{ end -}}

</article>
{{- end -}}
