{{/*
  MARK: TEMPLATE: Displaying aggregate statistics for each referentials
*/}}

{{/*
  MARK: Declare Variables
*/}}
{{- $context   := .context -}}
{{- $data      := newScratch -}}
{{- $render    := .render -}}
{{- $name      := .name -}}
{{- $lang      := cond $context.Params.lang $context.Params.lang $context.Lang -}}
{{- $ref       := index $context.Site.Data.referential (string $lang) -}}

{{- partialCached "utils/css.html" (dict "context" . "filefolder" "object" "filename" "tooltip") "tooltip" -}}

{{- with (where .context.Site.Pages "Section" "audits") -}}
  <style>
    .grid b {
      padding: 1em;
      border: 1px solid;
    }
  </style>
  <article class="fg-wrapper">
    <p>← <a href="{{ $context.Site.BaseURL | default "/" }}organism" class="link-more link-back">{{ i18n "nav-back-organism" .  }}</a></p>

    <h1>{{ i18n "text-report" . }} - {{ (index $ref $name).name }}</h1>
    {{- $referential   := (partialCached "render/referential-version.html" (dict "context" $context "project" "statistics" "referential" (index $ref $name).referential) (index $ref $name).referential).guideline -}}

    {{/*
      MARK: Displaying statistics table for each main referential version
    */}}
    {{- range $key, $value := (index (index $render $name) "listestats") }}
      {{- $versionlong   := (index (index (index $render $name).liste $key) 0).versionlong -}}
      {{- $versionlong   := (delimit (first 2 (split $versionlong ".")) ".") -}}
      {{- $cond          := ($versionlong | strings.Count ".") -}}

      {{- if (index ($referential.versionall) $versionlong) }}
      <h2>Conformité du parc de services pour la version {{ $key }}.x</h2>
        {{- $versionlongs  := (index (index (index $render $name).liste $key) 0).version -}}

        {{- $versionlongs  := cond (eq $cond 1) (index (last 1 (index ($referential.versionall) $versionlong)) 0) $versionlong -}}
        {{- $versionlongs  := cond (eq $cond 0) (index (last 1 (index (last 1 (sort $referential.versionall)) 0)) 0) $versionlongs -}}

        {{- $criteriafile  := (partialCached "utils/lang/referential.html" (dict "context" $context "referential" $referential) $referential) -}}
        {{- $criteriafile  := $criteriafile.criteria -}}
        {{- $glossary     :=  (printf "=\"%s%s%s/glossary/$1\"" (site.BaseURL | default "/") $referential.name $versionlongs) -}}
        <div class="grid grid-4 align-items-center text-center lh-1 font-bigger">
          {{/* CALL Partial */}}
          {{- partialCached "components/scores/aggregate-small.html" (dict "value" . "type" (index $ref $name).name ) . $name -}}
        </div>
        {{- if .criteria.thematiquepourcentage }}
          {{/* CALL template */}}
          {{ template "tablethematique" (dict "value" . "range" .criteria "ref" $ref "name" $name) }}
        {{ end -}}
        {{/* CALL template */}}
        {{ template "tablecriteria" (dict "all" .criteria.all "range" .criteria "name" $name "file" $criteriafile "glossary" $glossary) }}
        <hr>
      {{ end -}}
    {{ end -}}
  </article>
{{- end -}}

{{/*
  MARK: HTML TABLE for statistics repartition
*/}}
{{- define "tablecriteria" -}}
  {{ $all            := .all       }}
  {{ $range          := .range     }}
  {{ $name           := .name      }}
  {{ $criteriafile  := .file      }}
  {{ $glossary      := .glossary }}
  {{- if and $range.pourcentage80 $range.pourcentage50 $range.pourcentage30 $range.pourcentage00 -}}
  <h2>Tableau des statistiques de répartition de critères par taux</h2>
  <table>
    <thead>
      <tr>
        <th>Taux<br>Supérieur à 80%</th>
        <th>Taux<br>Entre 50% et 80%</th>
        <th>Taux<br>Entre 30% et 50%</th>
        <th>Taux<br>Inférieur à 30%</th>
      </tr>
    </thead>
    <tbody class="font-bigger">
        <tr style="--base-light: 105%;">
          <td class="text-center">{{ len $range.pourcentage80 }}</td>
          <td class="text-center">{{ len $range.pourcentage50 }}</td>
          <td class="text-center">{{ len $range.pourcentage30 }}</td>
          <td class="text-center">{{ len $range.pourcentage00 }}</td>
        </tr>
    </tbody>
  </table>
  {{- end -}}
  {{- if $all }}
  <h2>Tableau des statistiques par critère</h2>

  <table>
    <thead>
      <tr>
        <th>Critères</th>
        <th class="text-left">Description</th>
        <th width="100px">{{ i18n "text-compliant" . }}</th>
        <th width="100px">Non applicable</th>
        <th width="100px">Non conforme</th>
        <th width="100px">{{ i18n "compliance" }}</th>
      </tr>
    </thead>
    <tbody class="font-bigger">
      {{ $keylist := slice }}
      {{- range $key, $value := $all -}}
        {{- $key := partialCached "utils/replace/criteria-id.html" (dict "key" $key) $key -}}
        {{- $keylist = $keylist | append $key -}}
      {{- end -}}

      {{- range $id, $value := sort $keylist -}}
        {{- $id :=partialCached "utils/replace/criteria-id.html" (dict "key" $value "rebuild" "true") $value "rebuild" -}}

        {{/* FIXME: Should not working with this type of hack */}}
        {{- $cond        := cond (eq $name "accessibility") (le (int (index (split $id ".") 0)) 13) "TRUE" }}
        {{- if $cond -}}
        <tr style="--base-light: 105%;">
          <th>{{ $id }}</th>
          <td class="text-left">{{- template "criterion" (dict "value" $id "type" $name "file" $criteriafile "glossary" $glossary) -}}</td>
          <td class="text-center" style="background:hsl(var(--base-green), 25%, calc(var(--base-light) - 10%))">
            {{- if gt (int (index ($range.conforme) $id)) 0 }}
            <div class="tooltip">
              {{ index $range.conforme $id }}
              <div class="tooltip-text">
                <ul class="list-unstyled m-0 p-0">
                {{ range (index ($range.conformewithname) $id) }}
                  <li>{{ replace (. | truncate 50) " " "&nbsp;" | safeHTML }}</li>
                {{ end }}
                </ul>
              </div>
            </div>
            {{- else }}
              0
            {{ end -}}
          </td>
          <td class="text-center" style="background:hsl(var(--base-orange), 25%, calc(var(--base-light) - 10%))">
            {{- if gt (int (index ($range.nonapplicable) $id)) 0 }}
            <div class="tooltip">
              {{ index $range.nonapplicable $id }}
              <div class="tooltip-text">
                <ul class="list-unstyled m-0 p-0">
                {{ range (index ($range.nonapplicablewithname) $id) }}
                  <li>{{ replace (. | truncate 50) " " "&nbsp;" | safeHTML  }}</li>
                {{ end }}
                </ul>
              </div>
            </div>
            {{- else }}
              0
            {{ end -}}
          </td>
          <td class="text-center" style="background:hsl(var(--base-red), 25%, calc(var(--base-light) - 10%))">
            {{- if gt (int (index ($range.nonconforme) $id)) 0 }}
            <div class="tooltip">
              {{ index $range.nonconforme $id }}
              <div class="tooltip-text">
                <ul class="list-unstyled m-0 p-0">
                {{ range (index ($range.nonconformewithname) $id) }}
                  <li>{{ replace (. | truncate 50) " " "&nbsp;" | safeHTML  }}</li>
                {{ end }}
                </ul>
              </div>
            </div>
            {{- else }}
              0
            {{ end -}}
          </td>
          <td class="text-center" style="color:#fff;background: #222">{{ index ($range.pourcentage) $id }}{{ if ne (index ($range.pourcentage) $id) "NA"}}%{{ end }}</td>
        </tr>
        {{- end -}}
      {{- end -}}
    </tbody>
  </table>
  {{- end -}}
{{- end -}}

{{/*
  MARK: HTML TABLE for thematic statistics
*/}}
{{- define "tablethematique" -}}
  {{ $range     := .range }}
  {{ $value     := .value }}
  {{ $ref       := .ref   }}
  {{ $name      := cond (eq .name "accessibility") "raweb" .name  }}
  <h2>Tableau des statistiques par critère par thématique</h2>
  <table>
    <thead>
      <tr>
        <th class="text-left">Thématique</th>
        <th width="100px">{{ i18n "text-compliant" . }}</th>
        <th width="100px">{{ i18n "text-none" . }}</th>
        <th width="100px">{{ i18n "text-fail" . }}</th>
        <th width="100px">{{ i18n "compliance" }}</th>
      </tr>
    </thead>
    <tbody class="font-bigger">
      {{- range (index $ref $name).topics -}}
        {{ $id := .|string }}
        {{ if (index ($range.thematiquepourcentage) $id) }}
        <tr style="--base-light: 105%;">
          <th class="text-left">{{ if ge (len $id) 3 }}{{ $id }}{{ else }}{{ end }}</th>
          <td class="text-center" style="max-width:10%;background:hsl(var(--base-green), 25%, calc(var(--base-light) - 10%))">
            {{- if gt (int (index ($range.thematiqueconforme) $id)) 0 }}
            <div class="tooltip">
              {{ index $range.thematiqueconforme $id }}
              <div class="tooltip-text">
                <ul class="list-unstyled m-0 p-0">
                {{ range (index ($range.thematiqueconformewithname) $id) }}
                  <li>{{ replace (. | truncate 50) " " "&nbsp;" | safeHTML }}</li>
                {{ end }}
                </ul>
              </div>
            </div>
            {{- else }}
              0
            {{ end -}}
          </td>
          <td class="text-center" style="max-width:10%;background:hsl(var(--base-orange), 25%, calc(var(--base-light) - 10%))">
            {{- if gt (int (index ($range.thematiquenonapplicable) $id)) 0 }}
            <div class="tooltip">
              {{ index $range.thematiquenonapplicable $id }}
              <div class="tooltip-text">
                <ul class="list-unstyled m-0 p-0">
                {{ range (index ($range.thematiquenonapplicablewithname) $id) }}
                  <li>{{ replace (. | truncate 50) " " "&nbsp;" | safeHTML }}</li>
                {{ end }}
                </ul>
              </div>
            </div>
            {{- else }}
              0
            {{ end -}}
          </td>
          <td class="text-center" style="max-width:10%;background:hsl(var(--base-red), 25%, calc(var(--base-light) - 10%))">
            {{- if gt (int (index ($range.thematiquenonconforme) $id)) 0 }}
            <div class="tooltip">
              {{ index $range.thematiquenonconforme $id }}
              <div class="tooltip-text">
                <ul class="list-unstyled m-0 p-0">
                {{ range (index ($range.thematiquenonconformewithname) $id) }}
                  <li>{{ replace (. | truncate 50) " " "&nbsp;" | safeHTML }}</li>
                {{ end }}
                </ul>
              </div>
            </div>
            {{- else }}
              0
            {{ end -}}
          </td>
          <td class="text-center" style="color:#fff;background: #222">{{ with (index ($range.thematiquepourcentage) $id) }}{{ . }}{{ if ne (index ($range.thematiquepourcentage) $id) "NA"}}%{{ end }}{{ else }}NA{{ end }}</td>
        </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
{{- end -}}

{{/*
  MARK: HTML TABLE for criterion statistics
*/}}
{{- define "criterion" -}}
    {{ $types     := .type }}
    {{ $value     := .value }}
    {{ $glossary := .glossary }}
    {{ if eq $types "accessibility" }}
      {{ $s := where .file.topics "number" "eq" (int (delimit (first 1 (split $value ".")) ""))}}
      {{ partialCached "utils/replace/glossary" (dict "link" $glossary "value" (index (index $s 0).criteria (sub (int (delimit (last 1 (split .value ".")) "")) 1)).criterium.title) (index (index $s 0).criteria (sub (int (delimit (last 1 (split .value ".")) "")) 1)).criterium.title }}
    {{ else if (eq $types "ecoconception")}}
      {{ with (index (where .file.criteres "id" $value) 0).critere }}
        {{ . }}
      {{ else}}
        <b>There is a problem with a context declaration for an audit or a bad sheet</b>
      {{ end }}
    {{ else if (eq $types "opquast") }}
      {{ (index (where .file.criteres "number" (int $value)) 0).description.fr }}
    {{ else if (eq $types "publishing")}}
      {{ (index (where .file.criteres "id" (int (delimit (last 1 (split $value ".")) ""))) 0).criterium }}
    {{- end -}}
{{- end -}}
