{{/*
  MARK: RGAA page
  TEMPLATE: RGAA ref
*/}}

{{- define "main" -}}
  {{- partialCached "utils/css.html" (dict "context" . "filefolder" "base" "filename" "layout" "inline" "true") "layout" -}}
  {{- partialCached "utils/css.html" (dict "context" . "filefolder" "base" "filename" "main" "inline" "true") "main" -}}
  {{/*
    MARK: Declare Variables
  */}}
  {{/* Range all RGAA version according to data folder */}}
  {{- $path := "" }}{{ with .File }}{{ $path = .Path }}{{ end }}
  {{- $path           := cond (eq $path "_content.gotmpl") (string .Path) $path -}}
  {{- $refname        := (lower (index (split (string (replace $path "/en/" "")) "/") 0)) -}}
  {{- $referential    := (partialCached "render/referential-version.html" (dict "context" $ "referential" $refname "lang" .Params.lang) . $refname).guideline -}}
  {{- $lang           := cond .Params.lang .Params.lang .Lang -}}
  {{- $ref            := index .Site.Data.referential (string $lang) -}}
  {{- $glossary       := printf "=\"/%s/%s/%s/glossary/$1\"" $lang $referential.name $referential.version -}}
  {{- $.Store.Set "file" (partialCached "utils/lang/referential.html" (dict "context" . "referential" $referential) $referential) -}}
  {{- $criteriafile   := ($.Store.Get "file").criteria.topics -}}
  {{- $name := cond (eq $referential.name "rgaa") "accessibility" $referential.name -}}


  {{/*
    MARK: Declare Variables
  */}}
  <article class="fg-wrapper narrow">
    {{ (partialCached "navigations/nav-alternativeslanguages.html" (dict "context" . "path" $path "lang" $lang "referential" $referential) $path) }}
    <h1>{{ i18n "text-fail" 2 }} {{ replace ($referential.name | upper) "RGAA" "RGAA "}}</h1>
    {{- with ($.Store.Get "file").criterias.licence }}<p class="mt-1-minus"><strong>License :</strong> {{ . }}</p>{{ end }}
    {{ partialCached "utils/css.html" (dict "context" . "filefolder" "element" "filename" "tableofcontents") "tableofcontents" }}
    <div class="tableofcontents">
      <h2>Thématiques</h2>
      <ol>
      {{/* Range all topics for anchors menu */}}
      {{- range $key1, $value1 := $criteriafile -}}
        <li><a href="#{{ index (index $ref $name).topics $key1 | urlize }}">{{ index (index $ref $name).topics $key1 }}</a></li>
      {{- end -}}
      </ol>
    </div>

    {{/*
      MARK: Load list of tests for filtering view
    */}}
    {{- $.Store.Set "testfile" .Site.Data.rgaa.tests }}
    {{- $auditquick         := index ($.Store.Get "testfile") "25" -}}
    {{- $auditcomplementary := index ($.Store.Get "testfile") "50" -}}
    {{- $auditnecessary     := index ($.Store.Get "testfile") "81" -}}

  {{/*
    MARK : Range all topics
  */}}
  {{- if $criteriafile -}}
    {{- range $key1, $value1 := $criteriafile -}}
      <h2 id="{{ index (index $ref $name).topics $key1 | urlize }}" >{{ add $key1 1 }} - {{ index (index $ref $name).topics $key1 }}</h2>
      {{/* Range level 1 */}}
      {{- range $key2, $value2 := .criteria -}}
        {{- $key      := printf "%s.%s" (string (add $key1 1)) (string (add $key2 1)) -}}
        {{- $keyslug  := printf "%s-%s" (string (add $key1 1)) (string (add $key2 1)) -}}
        {{ $criterium := . }}
        {{- with .criterium }}
          {{- $criterium = . }}
        {{ end -}}
        <div id="{{ add $key1 1 }}-{{ add $key2 1 }}" class="topic{{ if ge (len (intersect $auditquick (slice $key))) 1 }} auditquick{{ end }}{{ if ge (len (intersect $auditcomplementary (slice $key))) 1 }} auditcomplementary{{ end }}{{ if ge (len (intersect $auditnecessary (slice $key))) 1 }} auditnecessary{{ end }}">
          {{- $title := partialCached "utils/replace/glossary" (dict "link" $glossary "value" $criterium.title) $criterium.title -}}
          <h3 id="crit-{{ $keyslug | urlize | safeURL }}">
            {{ printf "<a class=\"anchor\" href=\"#%s\" title='%s\"%s\"'><svg aria-hidden=\"true\" height=\"16\" version=\"1.1\" viewBox=\"0 0 16 16\" width=\"16\"><path fill-rule=\"evenodd\" d=\"M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z\"></path></svg></a>" ($keyslug | urlize | safeURL) (T "anchor_for") ($keyslug | plainify | safeHTML) | safeHTML }}
            Critère {{ add $key1 1 }}.{{ add $key2 1 }} - {{ $title }}
          </h3>

          {{- if or $criterium.technicalNote $criterium.particularCases -}}
            <div class="note">
            {{- if or $criterium.technicalNote -}}<h4 class="m-0">Note technique</h4>
              {{- range $key5, $value5 := $criterium.technicalNote -}}
                {{ if reflect.IsMap . }}
                  <ul>
                    {{- range .ul }}
                      <li>{{- partialCached "utils/replace/glossary" (dict "link" $glossary "value" .) . }}</li>
                    {{ end -}}
                  </ul>
                {{ else }}
                <p>{{- partialCached "utils/replace/glossary" (dict "link" $glossary "value" .) . }}</p>
                {{ end }}
              {{- end -}}
            {{- end -}}
            {{- if $criterium.particularCases -}}<h4 class="m-0">Cas particuliers</h4>
              {{- range $key5, $value5 := $criterium.particularCases -}}
                {{ if reflect.IsMap . }}
                  <ul>
                    {{- range .ul }}
                    <li>{{- partialCached "utils/replace/glossary" (dict "link" $glossary "value" .) . }}</li>
                    {{ end -}}
                  </ul>
                {{ else }}
                <p>{{- partialCached "utils/replace/glossary" (dict "link" $glossary "value" .) . }}</p>
                {{ end }}
              {{- end -}}
            {{- end -}}
            </div>
          {{- end -}}
          {{/* Range level 2 */}}
          {{- range $key3, $value3 := $criterium.tests -}}
              <p id="test-{{ add $key1 1 }}-{{ add $key2 1 }}-{{ $key3 }}" {{ if reflect.IsSlice $value3 }}class="mb-0"{{ end }}><strong>Test {{ add $key1 1 }}.{{ add $key2 1 }}.{{ $key3 }}</strong> -
              {{/* Test if value is an array */}}
              {{- if reflect.IsSlice $value3 -}}
                {{- partialCached "utils/replace/glossary" (dict "link" $glossary "value" (index $value3 0)) (index $value3 0) }}</p>
                <ol>
                {{/* Range array and prepend "glossary" before all links */}}
                {{- range $key4, $value4 := after 1 $value3 }}
                  <li>
                    {{- partialCached "utils/replace/glossary" (dict "link" $glossary "value" .) . }}
                  </li>
                {{- end -}}
                </ol>
                {{- else -}}
                {{/* Prepend "glossary" before all links */}}
                {{ partialCached "utils/replace/glossary" (dict "link" $glossary "value" .) . }}</p>
              {{- end -}}
          {{- end -}}
          <hr>
        </div>
      {{- end -}}
    {{- end -}}
  {{- else -}}
    <p>Problème de génération de la page RGAA, le fichier semble manquant</p>
  {{- end -}}
  </article>
  {{/* JS code for filtering view */}}
  <script>
    document.querySelector("#auditall").addEventListener("click", function(){
      document.querySelectorAll(".topic").forEach(function(elm){
        elm.classList.remove("hide");
      })
    });
    document.querySelector("#auditquick").addEventListener("click", function(){
      document.querySelectorAll(".topic").forEach(function(elm){
        elm.classList.remove("hide");
        if (!elm.classList.contains("auditquick")) {
          elm.classList.add("hide");
        }
      })
    });
    document.querySelector("#auditcomplementary").addEventListener("click", function(){
      document.querySelectorAll(".topic").forEach(function(elm){
        elm.classList.remove("hide");
        if (!elm.classList.contains("auditcomplementary")) {
          elm.classList.add("hide");
        }
      })
    });
    document.querySelector("#auditnecessary").addEventListener("click", function(){
      document.querySelectorAll(".topic").forEach(function(elm){
        elm.classList.remove("hide");
        if (!elm.classList.contains("auditnecessary")) {
          elm.classList.add("hide");
        }
      })
    });
  </script>
{{- end -}}
