{{- define "meta" -}}
  {{- $meta := partialCached "elements/head-meta.html" . .Permalink -}}
  {{ $meta.pretitle }} de {{ $meta.title }}
{{- end -}}

{{- define "title" -}}
  {{- $meta := partialCached "elements/head-meta.html" . .Permalink -}}
  {{ $meta.pretitle }} de {{ $meta.title }}
{{- end -}}

{{- define "main" -}}
{{- $path := "" }}
{{- with .File }}{{ $path = .Path }}{{ else }}{{ $path = .Path }}{{ end }}
{{- $patharray := split (path.Dir $path) "/" -}}
{{- $context    := . -}}
{{- $path := "" }}
{{- with .File }}{{ $path = .Path }}{{ end }}
{{- $project    := cond (eq (len (split (path.Dir $path) "/")) 1) "audits" (replace (path.Dir $path) "audits/" "") -}}
{{- if or (and (gt (len $patharray) 1) ($project)) (eq (len (split (.RelPermalink) "/")) 2) (eq (len $patharray) 1) -}}
  {{- $alternate := where (where .OutputFormats "Permalink" "eq" .Permalink) "Rel" "eq" "alternate" -}}
    {{ if ne (len $alternate) 0 }}
      {{- with $alternate -}}{{- range $key, $value := . -}}
      {{ $format := .Format.BaseName }}
      {{ range (slice "accessibility" "raweb" "ecoindex" "ecoconception" "opquast" "publishing" "recommendation" "performance") }}
        {{- if eq $format . -}}
          {{- $Type := cond (eq . "raweb") "accessibility" . -}}
          {{- $partial := (partialCached (printf "templates/%s.html" $Type) (dict "context" $context "type" .) $context) -}}
          {{- partialCached "elements/content.html" $partial $partial -}}
        {{- end -}}
      {{- end -}}
      {{- if eq .Format.BaseName "declaration" -}}
        <article class="fg-wrapper narrow">
          {{- $context.Scratch.Set "audits" (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "accessibility" "datafilename" $context.Params.datafilename) $project "accessibility" $context.Params.datafilename) -}}
          {{- $partial := (partialCached "templates/declaration.html" (dict "context" $context "audits" ($context.Scratch.Get "audits")) ($context.Scratch.Get "audits")) -}}
          {{- partialCached "elements/content.html" $partial $partial -}}
        </article>
      {{- else if eq .Format.BaseName "declaration-ecoconception" -}}
        <article class="fg-wrapper narrow">
          {{- $context.Scratch.Set "audits" (partialCached "render/lastfile.html" (dict "context" $context "project" $project "type" "ecoconception" "datafilename" $context.Params.datafilename) $project "ecoconception" $context.Params.datafilename) -}}
          {{- $partial := (partialCached "templates/declaration-ecoconception.html" (dict "context" $context "audits" ($context.Scratch.Get "audits")) ($context.Scratch.Get "audits")) -}}
          {{- partialCached "elements/content.html" $partial $partial -}}
        </article>
      {{- end -}}
      {{- end -}}{{- end -}}
    {{- else -}}
      {{- $partialprojects := (partialCached "templates/projects.html" $context $context) -}}
      {{- if and (ne $project "audits") (not (partialCached "render/issimpleproject.html" "arg" "arg")) -}}
        {{- if and (not (in (path.Base $path) "index.md")) -}}
          <article class="fg-wrapper narrow">
            {{ partialCached "elements/content.html" .Content .Content }}
          </article>
        {{- else -}}
          {{- partialCached "elements/content.html" $partialprojects $partialprojects -}}
        {{- end -}}
      {{- else -}}
        {{- if (partialCached "render/issimpleproject.html" . .) -}}
          {{- partialCached "elements/content.html" $partialprojects $partialprojects -}}
        {{- else -}}
          {{- $partialdashboard := (partialCached "templates/dashboard.html" $context $context) -}}
          {{- partialCached "elements/content.html" $partialdashboard $partialdashboard -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
  <p class="no-print">← <a href="{{ if eq (.Site.GetPage "/").Title "Accueil Audits" }}/{{ else }}{{ $.Site.BaseURL | default "/"}}audits{{ end }}" class="link-more link-back">Retour à la liste des services</a></p>
    {{ with .Title }}
      <h1 class="text-center fg-wrapper">{{ . }}</h1>
    {{ end }}
    {{- if and (ne $project "audits") (not (partialCached "render/issimpleproject.html" "arg" "arg")) -}}
      {{- if and (not (in (path.Base $path) "index.md")) -}}
        <article class="fg-wrapper narrow">
          {{ partialCached "elements/content.html" .Content .Content }}
        </article>
      {{- else -}}
        {{- $partialprojects := (partialCached "templates/projects.html" $context $context) -}}
        {{- partialCached "elements/content.html" $partialprojects $partialprojects -}}
      {{- end -}}
    {{- else -}}
      {{- $partialdashboard := (partialCached "templates/dashboard.html" $context $context) -}}
      {{- partialCached "elements/content.html" $partialdashboard $partialdashboard -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
