{{- $project     := .project -}}
{{- $context     := .context -}}
{{- $data        := newScratch -}}
{{- $lastfile    := (index (partialCached "render/lastfile.html" (dict "context" .context "project" $project "type" "greenit") $project "greenit") "auditfile-path") -}}
{{- $greenit     := partialCached "render/greenit.html" (dict "context" .context "auditfile" $lastfile) .context $lastfile -}}

{{- if $greenit.date -}}
{{- with $greenit -}}
  <h2 class="h3">
    <a class="link-text" href="{{ $context.Site.BaseURL }}/organism/greenit.html">
      GreenIT <small>Les 74 bonnes pratiques</small>
    </a>
  </h2>
  <div class="flex flex-gap align-items-center text-center lh-1 mr-2">
    <p class="mb-0">
      <span class="text-center d-block">
        {{- if (ne .isempty 0) -}}
        <b class="font-bigger font-bold d-block p-relative m-auto w-max-content">
          {{- .scores.compliance -}}%
          {{ if lt (.scores.criteria.total) 74 }}<span aria-hidden="true" class="p-absolute p-top-line p-right-line badge bad d-inline-block">{{ (.scores.criteria.total) }}</span>{{ end }}
        </b>
        {{- else -}}
        <b class="h3 d-block">Avancée</b>
        <span class="smaller">En&nbsp;cours</span>
        {{- end -}}
      </span>
    </p>
  </div>
{{- end -}}
{{ else }}
  <h2 class="h3">
      GreenIT <small>Les 74 bonnes pratiques</small>
  </h2>
  <div class="flex flex-gap align-items-center text-center lh-1 mr-2">
    <p class="mb-0">
      Aucun d’audit GreenIT Présent
    </p>
  </div>
{{- end -}}
