{{/*
  MARK: TEMPLATE for Twitter Card
*/}}

{{/*
  MARK: Declare Variables
*/}}
{{- $meta := partialCached "elements/head-meta.html" . .Permalink -}}
{{- $font := resources.Get "twittercard/Roboto-Black.ttf" -}}
{{- $logo := resources.Get "twittercard/logo.png" -}}
{{- $logo := (images.Overlay ($logo.Resize "250x") 3500 50) -}}
{{- $.Scratch.Set "img" ((resources.Get "twittercard/twittercard.png") | images.Filter $logo) -}}

{{- if $meta.audit -}}
  {{- $square     := resources.Get "twittercard/square.png" -}}
  {{- $square     := (images.Overlay $square 200 350) -}}
  {{- $.Scratch.Set "img" (($.Scratch.Get "img") | images.Filter $square) -}}
  {{/* Score d'un audit */}}
  {{- $scores         := cond (eq $meta.types "performance") $meta.audit (printf "%s%s" (string $meta.audit) "%") -}}
  {{- $scoresPosition := cond (eq $meta.types "performance") 560 280 -}}
  {{/* Score */}}
  {{- $.Scratch.Set "img" (($.Scratch.Get "img").Filter (images.Text $scores (dict
    "font" $font
    "color" "#ffffff"
    "size" 500
    "linespacing" 2
    "x" $scoresPosition
    "y" 600
  ))) -}}
{{- end -}}
{{- $img := ($.Scratch.Get "img") -}}
{{- if $meta.pagetitle -}}
  {{ $textsize := cond (ne $meta.pagetitle "") 250 (cond (gt (len $meta.pagetitle) 60) (cond (gt (len $meta.pagetitle) 80) 200 250) 300) }}
  {{- $img = $img.Filter (images.Text $meta.pagetitle (dict
    "font" $font
    "color" "#000000"
    "size" $textsize
    "linespacing" 2
    "x" 110
    "y" 1200
  )) -}}
{{- end -}}
{{/* Type d'audit */}}
{{- $img = $img.Filter (images.Text $meta.pretitle (dict
  "font" $font
  "color" "#000000"
  "size" 150
  "linespacing" 2
  "x" (cond (ne $meta.audit "") 1500 110)
  "y" 300
)) -}}
{{/* Nom du site */}}
{{ $textsize := cond (ne $meta.title "") 250 (cond (gt (len $meta.title) 60) (cond (gt (len $meta.title) 80) 200 250) 300) }}
{{- $img = $img.Filter (images.Text $meta.title (dict
  "font" $font
  "color" "#000000"
  "size" $textsize
  "linespacing" 2
  "x" (cond (ne $meta.audit "") 1500 100)
  "y" 500
)) -}}
{{ warnf "%s %s %s %s" (int $textsize) $meta.title $meta.pagetitle . }}
{{- $img = $img.Resize "x600" -}}
<meta property="og:image" content="{{ $img.Permalink }}">
<meta property="og:image:height" content="">
<meta property="og:image:width" content="932">
<meta name="twitter:card" content="summary_large_image">
