{{- $context      := . -}}
{{- $project      := partialCached "render/projectpath" . . -}}
{{- $projectPath  := cond (fileExists (printf "audits/%s/index.md" ($project))) (printf "audits/%s/index.md" ($project)) (printf "audits/%s/_index.md" ($project)) -}}
{{- $projectTitle := (cond (or (in .Permalink "audits/") (in .Permalink "services/")) (.GetPage $projectPath).Title .Site.Title) -}}

{{- $.Scratch.Set "pretitle" (cond (or (in .Permalink "audits/") (in .Permalink "services/")) "Synthèse" "Suivi de conformité") -}} -}}
{{- $.Scratch.Set "audit" "" -}}
{{- $.Scratch.Set "type" "" -}}
{{- $alternate  := where (where .OutputFormats "Permalink" "eq" .Permalink) "Rel" "eq" "alternate" -}}
{{- if ne (len $alternate) 0 -}}
  {{- with $alternate -}}
    {{- range $key, $value := . -}}
      {{- $.Scratch.Set "type" .Format.BaseName -}}
      {{- if eq .Format.BaseName "accessibility" -}}
        {{- $.Scratch.Set "pretitle" "Audit Accessibilité" -}}
        {{- $.Scratch.Set "audit" ((index ((partialCached "render/accessibility-scores.html" (dict "context" $context "project" $project "type" "accessibility" "datafilename" $context.Params.datafilename) $project "accessibility" $context.Params.datafilename)) "auditscores").scores.compliance) -}}
      {{- else if eq .Format.BaseName "ecoconception" -}}
        {{- $.Scratch.Set "pretitle" "Écoconception" -}}
        {{- $.Scratch.Set "audit" (index (partialCached "render/ecoconception-scores.html" (dict "context" $context "project" $project "type" "ecoconception") $project "ecoconception") "auditscores").scores.compliance -}}
      {{- else if eq .Format.BaseName "greenit" -}}
        {{- $.Scratch.Set "pretitle" "GreenIT - 74 bonnes pratiques" -}}
        {{- $.Scratch.Set "audit" "" -}}
      {{- else if eq .Format.BaseName "quality" -}}
        {{- $.Scratch.Set "pretitle" "Recommandations" -}}
        {{- $.Scratch.Set "audit" "" -}}
      {{- else if eq .Format.BaseName "recommendation" -}}
        {{- $.Scratch.Set "pretitle" "Recommandations" -}}
        {{- $.Scratch.Set "audit" "" -}}
      {{- else if eq .Format.BaseName "performance" -}}
        {{- $.Scratch.Set "pretitle" "Audit Performance" -}}
        {{- $.Scratch.Set "audit" (index (partialCached "render/performance-scores.html" (dict "context" $context "project" $project "type" "performance") $project "performance") "auditscores").ecoindex -}}
      {{- else if eq .Format.BaseName "declaration" -}}
        {{- $.Scratch.Set "pretitle" "Déclaration" -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  Synthèse
{{- end -}}
{{ with $projectTitle }} de {{ $projectTitle }} {{ else }}{{ (index (split (path.Dir .Path) "/") 1) }}{{- end -}}

{{ return
  (dict
    "title"      (cond (ne $projectTitle "") $projectTitle (index (split (path.Dir .Path) "/") 1))
    "pretitle"   ($.Scratch.Get "pretitle")
    "audit"      ($.Scratch.Get "audit")
    "type"       ($.Scratch.Get "type")
  )
}}
