{{ $context     := .context  }}
{{ $path        := .path  }}
{{ $lang        := .lang  }}
{{ $referential := .referential  }}
{{ if gt (len $context.Site.Languages) 1 }}
  <nav>
  <ul class="list-unstyled">
  {{- range $id, $langloop := after 1 $context.Site.Languages }}
    {{ if (index (index (index $context.Site.Data $referential.name) (string $langloop) ) (string (substr $referential.version 0 3))) }}
      {{ $pathfile := printf "/%s/%s/%s/%s" $langloop $referential.name (substr $referential.version 0 3) $context.File }}
      {{- if ne (string $langloop) $lang -}}
      <li><a href="{{ $pathfile }}">Version {{ $langloop }}</a></li>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{ if ne (string (index $context.Site.Languages 0)) (string $lang) }}
    <li><a href="{{ substr $path 3 }}">Version {{ $context.Lang }}</a></li>
  {{ end }}
  </ul>
  </nav>
{{- end -}}
