{{ $context   := .context }}
{{ $render    := .render }}
{{ $name      := .name }}
{{ $ref       := $context.Site.Data.referential }}

{{- with (where .context.Site.Pages "Section" "audits") -}}
  <style>
    .grid b {
      padding: 1em;
      border: 1px solid;
    }
  </style>
  <article class="fg-wrapper">
    <p>← <a href="{{ $context.Site.BaseURL | default "/" }}organism" class="link-more link-back">Retour à la page organisme</a></p>

    <h1>Synthèse générale - {{ (index $ref $name).name }}</h1>
    {{- $referential   := (partialCached "render/referential-version.html" (dict "context" $context "project" "statistics" "referential" (index $ref $name).referential) (index $ref $name).referential).guideline -}}
    {{- range $key, $value := (index (index $render $name) "listestats") }}
      {{- $versionlong   := (index (index (index $render $name).liste $key) 0).versionlong -}}
      {{- $versionlong   := (delimit (first 2 (split $versionlong ".")) ".") -}}
      {{- $cond          := ($versionlong | strings.Count ".") -}}

      {{- if (index ($referential.versionall) $versionlong) }}
      <h2>Conformité du parc de services pour la version {{ $key }}.x</h2>
        {{- $versionlongs  := (index (index (index $render $name).liste $key) 0).version -}}

        {{- $versionlongs  := cond (eq $cond 1) (index (last 1 (index ($referential.versionall) $versionlong)) 0) $versionlong -}}
        {{- $versionlongs  := cond (eq $cond 0) (index (last 1 (index (last 1 (sort $referential.versionall)) 0)) 0) $versionlongs -}}

        {{- $criterialfile := (index (index $context.Site.Data $referential.name) (string $versionlongs)).criteria -}}
        {{- $glossaire     :=  (printf "=\"%s%s%s/glossaire/$1\"" (site.BaseURL | default "/") $referential.name $versionlongs) -}}
        <div class="grid grid-4 align-items-center text-center lh-1 font-bigger">
          {{- partialCached "components/scores/aggregate-small.html" (dict "value" . "type" (index $ref $name).name ) . $name -}}
        </div>
        {{- if .criteria.thematiquepourcentage }}
          {{ template "tablethematique" (dict "value" . "range" .criteria) }}
        {{ end -}}
        {{ template "tablecriteria" (dict "all" .criteria.all "range" .criteria "name" $name "file" $criterialfile "glossaire" $glossaire) }}
        <hr>
      {{ end -}}
    {{ end -}}
  </article>
{{- end -}}

{{- define "tablecriteria" -}}
  {{ $all   := .all }}
  {{ $range := .range }}
  {{ $name  := .name }}
  {{ $criterialfile  := .file }}
  {{ $glossaire  := .glossaire }}
  {{- if and $range.pourcentage80 $range.pourcentage50 $range.pourcentage30 $range.pourcentage00 -}}
  <h2>Tableau des statistiques de répartition de critères par taux</h2>
  <table>
    <thead>
      <tr>
        <th>Taux<br>Supérieur à 80%</th>
        <th>Taux<br>Entre 50% et 80%</th>
        <th>Taux<br>Entre 30% et 50%</th>
        <th>Taux<br>Inférieur à 30%</th>
      </tr>
    </thead>
    <tbody class="font-bigger">
        <tr style="--base-light: 105%;">
          <td class="text-center">{{ len $range.pourcentage80 }}</td>
          <td class="text-center">{{ len $range.pourcentage50 }}</td>
          <td class="text-center">{{ len $range.pourcentage30 }}</td>
          <td class="text-center">{{ len $range.pourcentage00 }}</td>
        </tr>
    </tbody>
  </table>
  {{- end -}}
  {{- if $all }}
  <h2>Tableau des statistiques par critère</h2>
  <table>
    <thead>
      <tr>
        <th>Critères</th>
        <th class="text-left">Description</th>
        <th width="100px">Conforme</th>
        <th width="100px">Non applicable</th>
        <th width="100px">Non conforme</th>
        <th width="100px">Conformité</th>
      </tr>
    </thead>
    <tbody class="font-bigger">
      {{ $keylist := slice }}
      {{- range $key, $value := $all -}}
        {{ $keylist = $keylist | append $key }}
      {{- end -}}
      {{- range $id, $value := sort $keylist -}}
        {{- $id := $value }}
        <tr style="--base-light: 105%;">
          <th>{{ $id }}</th>
          <td class="text-left">{{- template "criterion" (dict "value" $id "type" $name "file" $criterialfile "glossaire" $glossaire) -}}</td>
          <td class="text-center" style="background:hsl(var(--base-green), 25%, calc(var(--base-light) - 10%))">{{ if gt (int (index ($range.conforme) $id)) 0 }}{{ index $range.conforme $id }}{{ else }}0{{ end }}</td>
          <td class="text-center" style="background:hsl(var(--base-orange), 25%, calc(var(--base-light) - 10%))">{{ if gt (int (index ($range.nonapplicable) $id)) 0 }}{{ index ($range.nonapplicable) $id }}{{ else }}0{{ end }}</td>
          <td class="text-center" style="background:hsl(var(--base-red), 25%, calc(var(--base-light) - 10%))">{{ if gt (int (index ($range.nonconforme) $id)) 0 }}{{ index ($range.nonconforme) $id }}{{ else }}0{{ end }}</td>
          <td class="text-center" style="color:#fff;background: #222">{{ index ($range.pourcentage) $id }}{{ if ne (index ($range.pourcentage) $id) "NA"}}%{{ end }}</td>
        </tr>
      {{- end -}}
    </tbody>
  </table>
  {{- end -}}
{{- end -}}

{{- define "tablethematique" -}}
  {{ $range     := .range }}
  {{ $value     := .value }}
  <h2>Tableau des statistiques par des critères par thématique</h2>
  <table>
    <thead>
      <tr>
        <th class="text-left">Thématique</th>
        <th width="100px">Conforme</th>
        <th width="100px">Non applicable</th>
        <th width="100px">Non conforme</th>
        <th width="100px">Conformité</th>
      </tr>
    </thead>
    <tbody class="font-bigger">
      {{- range $range.thematiquelist -}}
        {{ $id := .|string }}
        {{ if (index ($range.thematiquepourcentage) $id) }}
        <tr style="--base-light: 105%;">
          <th class="text-left">{{ if ge (len $id) 3 }}{{ $id }}{{ else }}{{ end }}</th>
          <td class="text-center" style="max-width:10%;background:hsl(var(--base-green), 25%, calc(var(--base-light) - 10%))">{{ if gt (int (index ($range.thematiqueconforme) $id)) 0 }}{{ index $range.thematiqueconforme $id }}{{ else }}0{{ end }}</td>
          <td class="text-center" style="max-width:10%;background:hsl(var(--base-orange), 25%, calc(var(--base-light) - 10%))">{{ if gt (int (index ($range.thematiquenonapplicable) $id)) 0 }}{{ index ($range.thematiquenonapplicable) $id }}{{ else }}0{{ end }}</td>
          <td class="text-center" style="max-width:10%;background:hsl(var(--base-red), 25%, calc(var(--base-light) - 10%))">{{ if gt (int (index ($range.thematiquenonconforme) $id)) 0 }}{{ index ($range.thematiquenonconforme) $id }}{{ else }}0{{ end }}</td>
          <td class="text-center" style="color:#fff;background: #222">{{ with (index ($range.thematiquepourcentage) $id) }}{{ . }}{{ if ne (index ($range.thematiquepourcentage) $id) "NA"}}%{{ end }}{{ else }}NA{{ end }}</td>
        </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
{{- end -}}

{{- define "criterion" -}}
    {{ $types     := .type }}
    {{ $value     := .value }}
    {{ $glossaire := .glossaire }}
    {{ if eq $types "accessibility" }}
      {{ $s := where .file.topics "number" "eq" (int (delimit (first 1 (split $value ".")) ""))}}
      {{ partialCached "utils/replace/glossaire" (dict "link" $glossaire "value" (index (index $s 0).criteria (sub (int (delimit (last 1 (split .value ".")) "")) 1)).criterium.title) (index (index $s 0).criteria (sub (int (delimit (last 1 (split .value ".")) "")) 1)).criterium.title }}
    {{ else if (eq $types "ecoconception")}}
      {{ (index (where .file.criteres "id" $value) 0).critere }}
    {{ else if (eq $types "opquast") }}
      {{ (index (where .file.criteres "number" (int $value)) 0).description.fr }}
    {{ else if (eq $types "publishing")}}
      {{ (index (where .file.criteres "id" (int (delimit (last 1 (split $value ".")) ""))) 0).criterium }}
    {{- end -}}
{{- end -}}
