{{/*
  MARK: TEMPLATE ACCESSIBILITY
*/}}

{{/*
  MARK: Declare Variables
*/}}
{{- $context      := .context -}}
{{- $Type         := .type -}}
{{- $path := "" }}{{ with $context.File }}{{ $path = .Path }}{{ end }}
{{- $project      := partialCached "render/projectpath" $context $context -}}
{{- $data         := newScratch -}}
{{- $projectPath  := cond (fileExists (printf "audits/%s/index.md" ($project))) (printf "audits/%s/index.md" ($project)) (printf "audits/%s/_index.md" ($project)) -}}
{{- $projectTitle := ($context.GetPage $projectPath).Title -}}

{{- $data.Set "pageslist" "" -}}
{{- $data.Set "scores"    "" -}}

{{ if and (in "/audits/_index.md" $path) (not (partialCached "render/issimpleproject.html" "arg" "arg")) }}
  <section class="fg-wrapper">
  {{- partialCached "templates/projects-monitoring.html" $context $context -}}
  </section>

{{- else -}}
  <article class="fg-wrapper narrow">

  {{/* Load the audit file */}}
  {{- $data.Set "auditscore"    (partialCached "render/meta-scores.html" (dict "context" $context "project" $project "type" $Type) $context $project $Type) -}}
  {{- $data.Set "audits"        (index ($data.Get "auditscore") "auditfiles") -}}
  {{- $data.Set "auditpath-csv" (index ($data.Get "auditscore") "auditfile-path") -}}

  {{/* Display declaration tpl when output format is set */}}
  {{- if and (in $context.Permalink "declaration.html") ($data.Get "audits") -}}
    {{- $partial := (partialCached "templates/declaration.html" (dict "context" $context "audits" ($data.Get "audits")) ($data.Get "audits")) -}}
    {{- partialCached "elements/content.html" $partial $partial -}}
  {{- else -}}

  {{/*
    START
    MARK: Test if audit file exists
  */}}
  {{- if and ($data.Get "auditpath-csv") (not (in ($data.Get "auditpath-csv") "false")) ($data.Get "auditscore").context -}}

    {{- $data.Set "auditfile-csv" ($data.Get "auditscore").auditcontent  -}}
    {{/* Calculate accessibility compliance */}}
    {{- $data.Set "scores" (index ($data.Get "auditscore") "auditscores") -}}

    {{/* START Test if the csv file has a good name : YYYY-MM-DD.csv */}}
    {{- if ne "0" (printf "%v" (len (findRE "((?:19|20)\\d\\d)-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])" (index ($data.Get "audits") "auditfile-name")))) -}}
      {{- $data.Set "date" (time (string (index ($data.Get "audits") "auditfile-name"))) -}}
    {{- else -}}
      {{- $data.Set "date" now -}}
      {{- warnf "The file %s has a bad name, it should be a date YYYY-MM-DD.csv" (index ($data.Get "audits") "auditfile-path") -}}
    {{- end -}}
    {{/* END Test if the csv file has a good name : YYYY-MM-DD.csv */}}

    {{/* Call Guidelines name and version */}}
    {{- $data.Set "context" ($data.Get "auditscore").context -}}
    {{- $referential := (index ($data.Get "context") (index ($data.Get "audits") "auditfile-name")).guidelines -}}

    {{/* START Test if audit name is named */}}

    {{ if and (ne $referential.name "any") $referential }}
      {{- $data.Set "criteriafile" (index (index (index $.context.Site.Data $referential.name) $referential.lang) (string $referential.version)).criteria.topics -}}

      {{/* Load the glossary file for the good audit version */}}
      {{- $data.Set "glossaire" (printf "=\"%s%s%s/glossaire/$1\"" (site.BaseURL | default "/") $referential.name $referential.version) -}}

      {{- if $project -}}<p>← <a href="{{ site.BaseURL | default "/" }}{{- with $project -}}{{ printf "audits/%s/" (urlize .) }}{{- end -}}" class="link-more link-back" aria-label="Retour à la page {{ ($context.GetPage $project).Title }}">Retour à la page projet</a></p>{{- end -}}
      <h1>Audit Accessibilité{{ with $projectTitle }}<small> pour {{ partialCached "utils/isURL.html" (dict "context" $context "projectTitle" $projectTitle) $projectTitle }}</small>{{ end }}</h1>

      {{/* START Display page note if exists */}}
      {{- with .context.Params.note -}}
      <div class="note">
        {{ . | markdownify }}
      </div>
      {{- end -}}
      {{/* END Display page note if exists */}}

      {{/* START Test if audit file exists */}}
      {{- if and ($data.Get "auditfile-csv") (ne ($data.Get "scores").isempty 0) -}}

        {{/* Find if the audit file is by criteria or by tests */}}
        {{- $data.Set "auditmethodology" (index (partialCached "render/methodology.html" (dict "context" $context "auditfile" ($data.Get "auditfile-csv")) $context ($data.Get "auditfile-csv")) "methodology") -}}
        {{/* Create an array with all pages */}}
        {{- $data.Set "pageslist" (index (partialCached "render/methodology.html" (dict "context" $context "auditfile" ($data.Get "auditfile-csv")) ($data.Get "auditfile-csv")) "pageslist") -}}
        {{/* Control which tests are made for each type of audit :: this is an help for knowing witch tests are missing */}}
        {{- $.Store.Set "testfile" $context.Site.Data.rgaa.tests }}
        {{- range $auditname, $audit := ($.Store.Get "testfile") -}}
          {{- $data.Set (printf "criterecontrol%s" (string $auditname)) slice -}}
          {{- range $id, $criterium := index ($.Store.Get "testfile") $auditname -}}
            {{- range $key, $value := ($data.Get "scores").criteria.total -}}
              {{- if eq $criterium $key -}}{{ $data.Add (printf "criterecontrol%s" (string $auditname)) $key }}{{- end -}}
            {{- end -}}
          {{- end -}}
          {{- $data.Set (printf "criterecontrol%s" (string $auditname)) ((($data.Get (printf "criterecontrol%s" (string $auditname))) | symdiff (index ($.Store.Get "testfile") $auditname))) -}}
        {{- end -}}

        {{/*
          MARK: Writting score in the browser console
        */}}
        <script>
          let Background = [
            "padding: 2px",
            "font-weight:bold",
            "background: #222",
            "color: #fff"
          ].join(" ;");
          let BackgroundRed = [
            "padding: 2px",
            "font-weight:bold",
            "background:firebrick",
            "color: #fff"
          ].join(" ;");
          let BackgroundWhite = [
            "padding: 4px 2px",
            "background:#fff",
            "color: #000"
          ].join(" ;");
          console.group('%cCritères par type: ', 'font-size: 12px;');
          console.log('%cCritères C %c %c{{ len ($data.Get "scores").criteria.conforme      }}%c \n{{ range $key, $value := ($data.Get "scores").criteria.conforme      }}{{ $key }}, {{ end }}',Background,BackgroundWhite,BackgroundRed,BackgroundWhite)
          console.log('%cCritères NC%c %c{{ len ($data.Get "scores").criteria.nonconforme   }}%c \n{{ range $key, $value := ($data.Get "scores").criteria.nonconforme   }}{{ $key }}, {{ end }}',Background,BackgroundWhite,BackgroundRed,BackgroundWhite)
          console.log('%cCritères NA%c %c{{ len ($data.Get "scores").criteria.nonapplicable }}%c \n{{ range $key, $value := ($data.Get "scores").criteria.nonapplicable }}{{ $key }}, {{ end }}',Background,BackgroundWhite,BackgroundRed,BackgroundWhite)
          console.log('%cCritères NT%c %c{{ len ($data.Get "scores").criteria.nonteste      }}%c \n{{ range $key, $value := ($data.Get "scores").criteria.nonteste      }}{{ $key }}, {{ end }}',Background,BackgroundWhite,BackgroundRed,BackgroundWhite)
          console.groupEnd();
          console.group('%cCritères non testés: ', 'font-size: 12px;');
          console.log('%cCritères  25%c {{ with ($data.Get "criterecontrol25")  }}{{ delimit ($data.Get "criterecontrol25") ", "  }}{{ else }}aucun{{ end }}',Background,BackgroundWhite)
          console.log('%cCritères  50%c {{ with ($data.Get "criterecontrol50")  }}{{ delimit ($data.Get "criterecontrol50") ", "  }}{{ else }}aucun{{ end }}',Background,BackgroundWhite)
          console.log('%cCritères  81%c {{ with ($data.Get "criterecontrol81")  }}{{ delimit ($data.Get "criterecontrol81") ", "  }}{{ else }}aucun{{ end }}',Background,BackgroundWhite)
          console.log('%cCritères 106%c {{ with ($data.Get "criterecontrol106") }}{{ delimit ($data.Get "criterecontrol106") ", " }}{{ else }}aucun{{ end }}',Background,BackgroundWhite)
          console.groupEnd();
        </script>

        <h2 class="text-center">Scores{{- with ($data.Get "scores").scores.criteria -}}&nbsp;-&nbsp;{{- .total -}}&nbsp;critères{{ end }}</h2>
        <time class="text-center" datetime="{{ ($data.Get "date").Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">Le {{ ($data.Get "date").Day }} {{ index $.context.Site.Data.month (printf "%d" ($data.Get "date").Month) }} {{ ($data.Get "date").Year }}</time>

        <p class="text-center"><a href="{{ $context.Path }}/declaration/" aria-label="Accéder à la déclaration de {{ ($context.GetPage $project).Title }}">Accéder à la déclaration</a></p>

        <h3 class="mb-0">Conformité globale selon les critères {{/* if le ($data.Get "scores").scores.compliance "75" }} {{ if and (ne ($data.Get "scores").scores.criteria.nonconforme 0) (ne ($data.Get "scores").scores.criteria.conforme 0) }}<small>({{ sub ((div (mul (add (len ($data.Get "scores").criteria.conforme) (($data.Get "scores").scores.criteria.nonconforme) ) 75) 100)) (len ($data.Get "scores").criteria.conforme) }}</b> critères pour atteindre 75%)</small>{{ end }}{{ end */}}</h3>
        {{/* Call accessibility scores partial */}}
        {{- partialCached "components/scores/accessibility" (dict "context" $context "score" ($data.Get "scores").scores "name" $Type) ($data.Get "scores") "accessibility" -}}
        {{/* Call accessibility number of criteria partial */}}
        {{- partialCached "components/scores/criteria" (dict "context" $context "criteria" ($data.Get "scores").criteria) ($data.Get "scores").criteria -}}

        {{/* START If several pages tested */}}
        {{- if gt (len ($data.Get "pageslist")) 1 -}}
          <h3 class="mb-0">Conformité détaillée de répartition</h3>
          {{/* Call accessibility graph */}}
          {{- partialCached "components/scores/accessibility-graph.html" (dict "context" $context "auditfile" ($data.Get "auditfile-csv") "scores" ($data.Get "scores").criteria) ($data.Get "scores").criteria -}}
        {{- end -}}
        {{/* END If several pages tested */}}

        {{/* START Display audit context */}}
        {{- with ($data.Get "context") -}}
          {{- with (index . (($data.Get "date").Format "2006-01-02")).audit -}}
            <h2>Contexte</h2>
            <p>
              {{ with .guidelines }}<strong>Version du référentiel&nbsp;: </strong>{{ . }}<br>{{ end }}
              {{ with .technologies }}<strong>Technologies utilisées sur le site&nbsp;: </strong>{{ delimit . ", " }}<br>{{ end }}
              {{ with .tools }}<strong>Outils pour réaliser l’audit&nbsp;: </strong>{{ delimit . ", " }}<br>{{ end }}
              {{ with .environment }}{{ partial "templates/context/environnement" . }}{{ end }}
            </p>
          {{- else -}}
            {{- with .audit -}}
            <h2>Contexte</h2>
              <p>
                {{ with .guidelines }}<strong>Version du référentiel&nbsp;: </strong>{{ . }}<br>{{ end }}
                {{ with .technologies }}<strong>Technologies utilisées sur le site&nbsp;: </strong>{{ delimit . ", " }}<br>{{ end }}
                {{ with .tools }}<strong>Outils pour réaliser l’audit&nbsp;: </strong>{{ delimit . ", " }}<br>{{ end }}
                {{ with .environment }}{{ partial "templates/context/environnement" . }}<br>{{ end }}
              </p>
            {{- end -}}
          {{- end -}}
        {{- end -}}
        {{/* END Display audit context */}}
        {{ if not ($data.Get "criteriafile") }}<p class="center">La version de référentiel déclaré dans le contexte d’audit n’est pas correcte : vérifiez le nom ou la version de référentiel.</p>{{ end }}

      <hr>

      {{- end -}}

      {{/* START If several page tested */}}
      {{- if and (gt (len ($data.Get "pageslist")) 1) -}}
      <h2>Liste des pages auditées</h2>
      {{/* Create a anchors menu with audited pages */}}
      {{ partialCached "utils/css.html" (dict "context" . "filefolder" "element" "filename" "tableofcontents") "tableofcontents" }}
      <div class="tableofcontents">
        <h3>Accéder aux pages auditées</h3>
        <nav>
          <ul role="list">
            <li><a href="#pagesall">Anomalies sur toutes les pages</a></li>
            {{/* Loop all pages for anchor navigation */}}
            {{- range $id, $value := $data.Get "pageslist" -}}
            <li><a href="#{{ if ge (len (split . "|")) 2 }}{{ (index (split . "|") 0) | urlize }}{{ else }}{{ . | urlize }}{{ end }}">{{ if ge (len (split . "|")) 2 }}{{ index (split . "|") 0 }}{{ else }}{{ . }}{{ end }}</a></li>
            {{- end -}}
          </ul>
        <nav>
      </div>
      {{- end -}}
      {{/* END If several page tested */}}

      {{/* START Display page content if exists */}}
      {{- if gt (len .context.Content) 10 -}}
      <h2>Notes correctives</h2>
      <div>
      {{- partialCached "elements/content.html" .context.Content .context.Content -}}
      </div>
      {{- end -}}
      {{/* END Display page content if exists */}}

      {{- if ne ($data.Get "scores").scores.criteria.nonconforme 0 }}
        <h2>Par ordre des critères du référentiel {{ upper ($data.Get "scores").scores.auditname }}</h2>

        {{/* Range map errors sort by RGAA order - on all pages */}}
        {{- if and (gt (len ($data.Get "pageslist")) 1) -}}
        <h3 id="pagesall" class="small-caps">Anomalies présentes sur toutes les pages</h3>
        {{- else -}}
        <h3>Anomalies</h3>
        {{- end -}}
        {{- $data.Set "counterallpages" 0 -}}
        {{- if and ($data.Get "auditmethodology") ($data.Get "auditfile-csv") -}}
        {{/* START :: Loop csv files */}}
        {{- range $key, $value := after 1 ($data.Get "auditfile-csv") -}}
          {{/* START :: if all criteria are the same */}}
          {{- $criteriaperline := (uniq (after ($data.Get "auditmethodology") .)) -}}
          {{- range first 1 . -}}
            {{ if eq (len $criteriaperline) 1 }}
              {{- $indication := (delimit $criteriaperline "") -}}
              {{- template "description" (dict "value" $value "indication" $indication "criteriaperline" $criteriaperline "data" $data) -}}
            {{- end -}}
          {{- end -}}
          {{/* END :: if all criteria are the same */}}
        {{- end -}}
        {{- end -}}
        {{ if not ($data.Get "counterallpages") }}<p>Aucune erreur commune à toutes les pages.</p>{{ end }}

        <hr class="divider">

        {{/* START :: If several page tested */}}
        {{- if and (gt (len ($data.Get "pageslist")) 1) -}}
          {{/* Range map errors sort by RGAA order - on specifics pages */}}
          <h3 class="small-caps">Anomalies présentes sur les pages spécifiques</h3>
          {{/* START :: Display errors presents on specific pages */}}
          {{- range $id, $value := ($data.Get "pageslist") -}}
            {{- $data.Set "text" 0 -}}
            {{ $condPageConformeExists := cond (not (index (($data.Get "auditscore").auditscores.criteria.conformepage) (string $id))) dict (index (($data.Get "auditscore").auditscores.criteria.conformepage) (string $id)) }}
              <h4 id="{{ if ge (len (split . "|")) 2 }}{{ (index (split . "|") 0) | urlize }}{{ else }}{{ . | urlize }}{{ end }}" class="bullet">Page : {{ if ge (len (split . "|")) 2 }}{{ index (split . "|") 0 }}{{ else }}{{ . }}{{ end }}</h4>
              {{- $data.Set "is-page-error" 0 -}}
              {{/* START :: Loop csv files for each page */}}
              {{- range $key, $value := after 1 ($data.Get "auditfile-csv") -}}
                {{- $criteriaperline := (uniq (after ($data.Get "auditmethodology") .)) -}}
                {{/* START :: if all criteria are different */}}
                {{- if ne (len $criteriaperline) 1 -}}
                  {{- $data.Add "is-page-error" 1 -}}
                  {{- $indication := (string (index . (add $id ($data.Get "auditmethodology")))) -}}
                  {{- template "description" (dict "value" $value "indication" $indication "criteriaperline" $criteriaperline "data" $data) -}}
                {{- end -}}
                {{/* END :: if all criteria are different */}}
              {{- end -}}
              {{/* END :: Loop csv files for each page */}}
              {{- if eq ($data.Get "is-page-error") 0 -}}
              <p>Aucune erreur spécifique sur cette page.</p>
              {{- end -}}
              {{- if eq (len $condPageConformeExists) ($data.Get "scores").scores.criteria.conforme }}
                <p>Aucune erreur sur cette page.</p>
              {{- end -}}
              {{- if ne (add (int $id) 1) (len ($data.Get "pageslist")) -}}<hr class="divider-strong">{{- end -}}
          {{- end -}}
        {{/* END :: Display errors presents on specific pages */}}
        <hr class="divider">
        {{- end -}}
        {{/* END :: If several page tested */}}

        {{/* START If several page tested */}}
        {{- if gt (len ($data.Get "pageslist")) 0 -}}
        {{/* Range map errors sort by RGAA order - on all pages */}}
        {{ if ne (len ($data.Get "scores").criteria.nonconforme) 0 }}
        <h3 id="criteria-nonconforme">Tous les critères non conformes du site</h3>
        {{ partialCached "templates/validity.html" (dict "context" $context "audit" ($data.Get "audits") "score" ($data.Get "scores")) "accessibility" ($data.Get "scores").criteria }}
        {{ end }}
        {{- end -}}
        {{/* END If several page tested */}}

      {{- end -}}
      </article>
      {{- else -}}
        <p>Aucun fichier de test n’est présent dans le répertoire, ou alors le fichier <code>context.yml</code> est manquant : <code>{{ (partialCached "render/rootpath" (dict "context" . "project" $project "type" "accessibility") $project "accessibility") }}/{{ cond (not $project) "" (printf "%s/" $project) }}{{ $Type }}</code></p>
        {{- if (ne (printf "%s/%s" (path.Dir $path) (path.Base $path)) "audits/_index.md") -}}
          <p>Le fichier d’audit RGAA est manquant dans ce ce répertoire: {{ ($data.Get "audits").pathdatafile }} - vérifier le chemin ou l’intégrité du fichier sur le disque.</p>
          {{- warnf "Fichier d’audit manquant dans %s" ($data.Get "audits").path -}}
        {{- end -}}
      {{- end -}}
      {{/* END If several page tested */}}
    {{- else -}}
      <p>Le nom du référentiel n’est pas défini.</p>
    {{- end -}}
    {{/* END Test if audit name is named */}}
{{- end -}}
{{/* END Test if audit file exists */}}
{{- end -}}

{{- define "description" -}}
  {{- $value := .value -}}
  {{- $data := .data -}}
  {{- $indication := .indication -}}
  {{- $content := (index (split $indication "|") 0) -}}
  {{- $comment := (uniq ((split $indication "|") | symdiff (slice $content))) -}}
  {{- $condcontentlen := gt (len (split $indication "|")) 1 -}}
  {{- $condcontentnc := (eq $content "nc") -}}
  {{- $condcontentc := (eq $content "c") -}}
  {{- $thematiques := delimit (first 1 (split (index $value 0) ".")) "" -}}
  {{- $criteria := index $value 1 -}}
  {{- $tests := index $value 2 -}}
  {{- if or $condcontentlen $condcontentnc -}}
  {{- if ($data.Get "criteriafile") -}}
    {{- $data.Set "counterallpages" 1 -}}
    <p class="mb-0"><strong>
      {{- if $condcontentc -}}{{ end }}{{ if or $condcontentnc $condcontentlen }}{{ end }} {{ if eq ($data.Get "auditmethodology") 3 }}Test{{ else }}Critère{{ end }} {{ $thematiques }}.{{ $criteria }}{{ if eq ($data.Get "auditmethodology") 3 }}.{{ $tests }}{{ end }} <small hidden>- {{ if $condcontentc }}Conforme{{ end }}{{ if or $condcontentnc $condcontentlen }}Non conforme{{ end }}</small>
      {{ if eq (upper (delimit (findRE "!(.*)!" (delimit $comment "")) "")) "!F!" -}}<span class="badge good">Facile</span>{{- end -}}
      {{ if eq (upper (delimit (findRE "!(.*)!" (delimit $comment "")) "")) "!M!" -}}<span class="badge medium">Modéré</span>{{- end -}}
      {{ if eq (upper (delimit (findRE "!(.*)!" (delimit $comment "")) "")) "!D!" -}}<span class="badge bad">Difficile</span>{{- end -}}
    </strong></p>
    {{- $txt := "" -}}
    {{- if not $condcontentnc -}}
      {{- if $condcontentc -}}
        {{- $txt = "Conforme! Note" -}}
      {{- else -}}
        {{- $txt = "Non applicable" -}}
      {{- end -}}
    {{- else -}}
      {{- $txt = "Commentaire(s)" -}}
    {{- end -}}
    {{- if ge (len $comment) 1 }}
      {{- if ge (len $comment) 2  }}
        <p class="mb-0"><strong>{{ $txt }}</strong></p>
        <ul>
        {{- range $comment }}
          <li>{{ . }}</li>
        {{ end -}}
        </ul>
      {{- else -}}
        <p class="smaller">
          <b>{{- $txt -}}</b>&nbsp;: {{ replace (replaceRE "!(.*)!" "" (delimit $comment ", ") 1) "\n" "<br>" | markdownify }}
        </p>
      {{- end -}}
    {{- end -}}
      {{/* Find all criteria in a specific thematic */}}
      {{- $s := where ($data.Get "criteriafile") "number" "eq" (int ($thematiques)) -}}
      {{- if eq ($data.Get "auditmethodology") 2 -}}
        {{- $criterium := (index (index $s 0).criteria (sub (int ($criteria)) 1)) -}}
        {{- $criterium := $criterium.criterium.title -}}
        <p><em>
          {{- partialCached "utils/replace/glossaire" (dict "link" ($data.Get "glossaire") "value" $criterium) $criterium }}
          {{ if not $criterium }}Le numéro du critère ne correspond pas au référentiel.{{ end }}
        </em></p>
      {{- else if eq ($data.Get "auditmethodology") 3 }}
        {{- range $idx, $value := ((index (index $s 0).criteria (sub (int ($criteria)) 1)).criterium).tests -}}
          {{- if eq $idx (string ($tests)) -}}
            {{- if reflect.IsSlice . -}}
              <p><em>{{- partialCached "utils/replace/glossaire" (dict "link" ($data.Get "glossaire") "value" (index . 0)) (index . 0)}}</em><br></p>
            {{- if (after 1 .) -}}
              <ol>
                {{- range after 1 . }}
                <li>{{- partialCached "utils/replace/glossaire" (dict "link" ($data.Get "glossaire") "value" .) . }}</li>
                {{ end -}}
              </ol>
            {{- end -}}
          {{- else -}}
            <p><em>{{ (replaceRE "=\"#" ($data.Get "glossaire") (. | markdownify) 100) | safeHTML }}</em></p>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- else -}}
  {{- end -}}
{{- end -}}

