{{ $context   := .context }}
{{ $render    := .render }}
{{ $name      := .name }}
{{ $context.Store.Set "list" (index .context.Site.Data.rgaa.list "4") }}
{{ $ref       := .context.Site.Data.referential }}
{{- with (where .context.Site.Pages "Section" "audits") -}}
  <style>
    .flex b {
      padding: 1em;
      border: 1px solid;
    }
  </style>
  <article class="fg-wrapper narrow">
  <h1>Synthèse générale - {{ (index $ref $name) }}</h1>
  <h2>Conformité du parc de services</h2>
  <div class="flex flex-gap align-items-center text-center lh-1 mr-2 font-bigger">
    {{- partialCached "components/scores/aggregate-small.html" (dict "value" (index $render $name) "type" (index $ref $name)) $render $name -}}
  </div>

  {{ with (index $render.allaverage $name) }}
  {{- $range := . -}}
  <h2>Tableau des statistiques par critère</h2>
  <table>
    <thead>
      <tr>
        <th>Critère</th>
        <th>Conforme</th>
        <th>Non applicable</th>
        <th>Non conforme</th>
        <th>Conformité (%)</th>
      </tr>
    </thead>
    <tbody class="font-bigger">
      {{- $list := (cond (eq $name "accessibility") ($context.Store.Get "list") .all) }}
      {{- range $id, $value := $list -}}
        {{- $id := (cond (eq $name "accessibility") (string $value) (string $id)) }}
        <tr style="--base-light: 105%;">
          <th>{{ $id }}</th>
          <td class="text-center" style="background:hsl(var(--base-green), 25%, calc(var(--base-light) - 10%))">{{ if gt (int (index ($range.conforme) $id)) 0 }}{{ index $range.conforme $id }}{{ else }}0{{ end }}</td>
          <td class="text-center" style="background:hsl(var(--base-orange), 25%, calc(var(--base-light) - 10%))">{{ if gt (int (index ($range.nonapplicable) $id)) 0 }}{{ index ($range.nonapplicable) $id }}{{ else }}0{{ end }}</td>
          <td class="text-center" style="background:hsl(var(--base-red), 25%, calc(var(--base-light) - 10%))">{{ if gt (int (index ($range.nonconforme) $id)) 0 }}{{ index ($range.nonconforme) $id }}{{ else }}0{{ end }}</td>
          <td class="text-center" style="color:#fff;background: #111">
            {{ if and (gt (int (index ($range.nonconforme) $id)) 0) (gt (int (index ($range.conforme) $id)) 0) }}
              {{ div (mul (index ($range.conforme) $id) 100) (add (index ($range.conforme) $id) (index ($range.nonconforme) $id)) }}%
            {{ else if and (eq (int (index ($range.nonconforme) $id)) 0) (eq (int (index ($range.conforme) $id)) 0) }}
              NA
            {{ else if and (eq (int (index ($range.nonconforme) $id)) 0) (gt (int (index ($range.conforme) $id)) 0) }}
              100%
            {{ else }}
              0%
            {{ end }}
          </td>
        </tr>
      {{- end -}}
    </tbody>
  </table>
  {{ end -}}
  </article>
{{- end -}}
