
{{- $context := . -}}
{{- $.Store.Set "rangepages" (where .Site.Pages "Section" "audits") -}}
{{- if ($.Store.Get "rangepages") -}}

  {{- $.Store.Set "aggregates" (partialCached "render/aggregate-scores.html" (dict "pages" ($.Store.Get "rangepages")) ($.Store.Get "rangepages")) -}}

  <section class="section text-center m-0">
    <div class="fg-wrapper">
      {{- partialCached "utils/css.html" (dict "context" $context "filefolder" "object" "filename" "card") "card" -}}

      {{- if gt (len ($.Store.Get "aggregates").accessibility.all) 0 }}
      <h2 class="lh-0">Liste des indicateurs<br><small>Pour {{ (len ($.Store.Get "aggregates").accessibility.all) }} services</small></h2>
        <ul class="list-unstyled" role="navigation">
          <li class="enlarge-link card-inline card-shadow">
            <h2 class="h3">
              <a class="link-text" href="{{ $context.Site.BaseURL | default "/" }}organism/accessibility.html">
                Accessibilité <small>Conformité</small>
              </a>
            </h2>
            <span class="flex flex-small flex-gap align-items-center text-center lh-1">
              {{- (partialCached "components/scores/aggregate-small.html" (dict "value" (($.Store.Get "aggregates").accessibility) "type" "RGAA") "RGAA" ) -}}
            </span>
          </li>
          <li class="enlarge-link card-inline card-shadow">
            <h2 class="h3">
              <a class="link-text" href="{{ $context.Site.BaseURL | default "/" }}organism/ecoconception.html">
                Éco-conception <small>Conformité</small>
              </a>
            </h2>
            <span class="flex flex-small flex-gap align-items-center text-center lh-1">
              {{- (partialCached "components/scores/aggregate-small.html" (dict "value" (($.Store.Get "aggregates").ecoconception) "type" "RGESN") "RGESN" ) -}}
            </span>
          </li>
          <li class="enlarge-link card-inline card-shadow">
            <h2 class="h3">
              <a class="link-text" href="{{ $context.Site.BaseURL | default "/" }}organism/opquast.html">
                60 règles Opquast <small>Validité</small>
              </a>
            </h2>
            <span class="flex flex-small flex-gap align-items-center text-center lh-1">
              {{- (partialCached "components/scores/aggregate-small.html" (dict "value" (($.Store.Get "aggregates").opquast) "type" "Opquast") "Opquast" ) -}}
            </span>
          </li>
          <li class="enlarge-link card-inline card-shadow">
            <h2 class="h3">
              <a class="link-text" href="{{ $context.Site.BaseURL | default "/" }}organism/publishing.html">
                Sobriété éditoriale <small>Conformité</small>
              </a>
            </h2>
            <span class="flex flex-small flex-gap align-items-center text-center lh-1">
              {{- (partialCached "components/scores/aggregate-small.html" (dict "value" (($.Store.Get "aggregates").publishing) "type" "éditorial") "éditorial" ) -}}
            </span>
          </li>
          <li class="enlarge-link card-inline card-shadow">
            {{- partialCached "components/scores/greenit-small" (dict "context" $context "project" "") "" -}}
          </li>
          <li class="enlarge-link card-inline card-shadow">
            {{- partialCached "components/scores/cigref-small" (dict "context" $context "project" "") "" -}}
          </li>
        </ul>
      {{- end -}}
    </div>
  </section>
{{- end -}}
