{{- define "main" -}}
  {{- partialCached "utils/css.html" (dict "context" . "filefolder" "base" "filename" "layout" "inline" "true") "layout" -}}
  {{- partialCached "utils/css.html" (dict "context" . "filefolder" "base" "filename" "main" "inline" "true") "main" -}}
  {{ $path := "" }}
  {{ with .File }}{{ $path = .Path }}{{ end }}
  {{- $patharray := split (path.Dir $path) "/" -}}

  {{/* Use the audit last version */}}
  {{- $referential := (partialCached "render/referential-version.html" (dict "context" . "referential" "rgesn") . ).guideline -}}
  {{- $.Store.Set "file" (index (index $.Site.Data $referential.name) (string $referential.version)) -}}
  {{- $criteriafile   := ($.Store.Get "file").criteria.criteres -}}

  {{ if eq $referential.version "2.0" }}
  {{- $criteriafile   = ($.Store.Get "file").crit.criteres -}}
  {{ end }}



    <article class="fg-wrapper narrow">
      <h1>{{ ($.Store.Get "file").criteria.title | safeHTML }}</h1>

      {{- if $criteriafile -}}
        {{- $.Scratch.Set "thematique" slice -}}
        {{- $thematiqueCounter := 1 -}}
        {{- range $key1, $value1 := $criteriafile -}}
          {{- $thematique := int (index (first 1 (split .id ".")) 0) -}}
          {{- if eq $thematique $thematiqueCounter -}}
            {{- $.Scratch.Add "thematique" .thematique -}}
            {{- $thematiqueCounter = add $thematiqueCounter 1 -}}
          {{ end }}
        {{- end -}}

        {{ partialCached "utils/css.html" (dict "context" . "filefolder" "element" "filename" "tableofcontents") "tableofcontents" }}
        <div class="tableofcontents">
          <h2>Thématiques</h2>
          <ol>
          {{/* Range all topics for anchors menu */}}
          {{- range $key1, $value1 := $.Scratch.Get "thematique" -}}
            <li><a href="#{{ . | urlize }}">{{ . }}</a></li>
          {{- end -}}
          </ol>
        </div>

        {{/* Range all topics */}}
        {{- range $key1, $value1 := $.Scratch.Get "thematique" -}}
          <h2 id="{{ . | urlize }}" >{{ . }}</h2>
          {{- if (eq $referential.version "2.0") }}
              {{ (index (where ($.Store.Get "file").crit.thematiques "nom" .) 0).description }}
          {{ end -}}
          {{- range $key2, $value2 := where $criteriafile "thematique" . -}}
            <h3 id="{{ add $key1 1 }}.{{ add $key2 1 }}" >#{{ add $key1 1 }}.{{ add $key2 1 }} - {{ .critere }}</h3>
            {{ if or .difficulte .priorite }}
            <hr>
            <p>
              {{ with .difficulte }}<strong>Niveau de difficulté :</strong> {{ . }}{{ end }}<br>
              {{ with .priorite }}<strong>Niveau de priorité :</strong> {{ . }}{{ end }}
            </p>
            <hr>
            {{ end }}
            <p>
              <h4>Objectif</h4>
              <strong>{{ .objectif | markdownify }}</strong><br>
            </p>
            <p>
              <h4>Mise en œuvre</h4>
              {{ .miseEnOeuvre | markdownify }}
            </p>
            <div class="note">
              <h4 class="m-0">Moyen de test ou de contrôle</h4>
              <p>{{ .controle | markdownify }}</p>
            </div>
            {{- with .source }}
            <div>
              <h4 class="m-0">Pour aller plus loin</h4>
              <p>{{ . | markdownify }}</p>
            </div>
            {{ end -}}
            <hr>
          {{- end -}}
        {{- end -}}
      {{- else -}}
        <p>Problème de génération de la page RGESN, le fichier semble manquant</p>
      {{- end -}}
  </article>
{{- end -}}
