{{- $auditsfiles    := (partialCached "render/lastfile.html" (dict "context" .context "project" .project "type" "accessibility" "datafilename" .datafilename) .project "accessibility" .datafilename) -}}
{{- $auditlastpath  := (index $auditsfiles "auditfile-path") -}}
{{- $auditcontent   := cond (ne $auditlastpath "/false") (getCSV "," $auditlastpath) "" -}}
{{- $auditscores    := cond (ne $auditlastpath "") (partialCached "render/accessibility.html" (dict "auditfile" $auditlastpath) $auditlastpath) "" -}}

{{ return
  (dict
    "auditfiles"       $auditsfiles
    "auditfile-path"   $auditlastpath
    "auditcontent"     $auditcontent
    "auditscores"      $auditscores
  )
}}
