{{/* Build a map with all accessibility score for using it later in code :: maybe for catching progression or regression */}}
{{ $scorekey      := sha1 (string now) }}
{{ $path := "" }}
{{ with .File }}{{ $path = .Path }}{{ end }}
{{ $data          := newScratch }}
{{ $time          := now.UnixMilli }}
{{ $reflist       := (slice "accessibility" "raweb" "ecoconception" "opquast" "publishing") }}

{{/* Declare Var */}}
{{ $data.Delete "allscores" }}
{{ range $reflist }}
  {{ $data.Set (printf "%s-list-t" .) slice }}
  {{ $data.Set (printf "aggregate-%s-list" .) slice }}
  {{ $data.Set (printf "aggregate-%s-nc" .) slice }}
  {{ $data.Set (printf "aggregate-%s-c" .) slice }}
  {{ $data.Set (printf "aggregate-%s-sum" .) 0 }}
{{ end }}
{{ $data.Set "aggregate-performance-list" slice }}
{{ $data.Set "aggregate-performance-sum" 0 }}

{{/* START Loop all audits */}}
{{ range sort .pages ".Title" "desc" }}
  {{ $timepartial   := now.UnixMilli }}
  {{ $project       := partialCached "render/projectpath" . . }}
  {{ if ne $project "" }}
  {{ $context := . }}
  {{ $ref  := $context.Site.Data.referential }}
  {{ $path := "" }}{{ with .File }}{{ $path = .Path }}{{ end }}
  {{/* START Only page in audits folder */}}
  {{ if and (in (path.Base $path) "index.md") (not (in "audits/_index.md" $path)) (ne (len (split $path "/")) 4) }}
    {{/* START Loop over each referential :: calculate */}}
    {{ range $reflist }}
      {{ $type    := . }}
      {{ $auditsfiles := (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" $type) $project .) }}
      {{ with (index $auditsfiles "auditfile-all-path") }}
      {{ if (not (in . "false")) }}
        {{ range $id, $file := last 1 (sort .) }}
        {{ warnf "aasaad%s %s %s aaaa" . $type $auditsfiles }}
          {{/* Calculate the score for a referential */}}
          {{ $contextaudit := (partial "render/context.html" (dict "context" $context "project" $project "type" $type) $context $project $type) }}
          {{ $render       := (partialCached (printf "render/%s.html" $type) (dict "context" "aggregate" "auditfile" . "auditname" (index $contextaudit (index $auditsfiles "auditfile-name")).guidelines.name) . (index $contextaudit (index $auditsfiles "auditfile-name")).guidelines.name)  }}
          {{/* Store each result un a map */}}
          {{ $data.SetInMap $project $type $render }}
          {{/* START Count the sum for each criteria */}}
          {{ if $render.criteria }}
            {{/* START Loop conforme criteria */}}
            {{ range $id, $value := $render.criteria.conforme }}
              {{ $data.Add (printf "%s%s-c" $id $type) 1 }}
              {{ $data.SetInMap (printf "average-%s-conforme" $type) (string $id) ($data.Get (printf "%s%s-c" $id $type)) }}
              {{ $thematique := "" }}
              {{ with (in $id ".") }}
                {{ $thematique = (index (index $ref $type).topics (sub (int (delimit (first 1 (split $id ".")) "")) 1)) }}
              {{ else }}
                {{ $referential    := (partialCached "render/referential-version.html" (dict "context" $context "referential" "opquast") $context "opquast").guideline }}
                {{ $criteriafile   := (index (index $context.Site.Data $referential.name) (string $referential.version)).criteria.criteres }}
                {{ $thematique      = (index (index (where $criteriafile "number" (float $id)) 0).thema 0).fr }}
              {{ end }}
              {{ $data.Add (printf "%s%s-c-t" $thematique $type) 1 }}
              {{ $data.Add (printf "%s-list-t" $type) $thematique }}
              {{ $data.SetInMap (printf "average-%s-conforme-t" $type) (string $thematique) ($data.Get (printf "%s%s-c-t" $thematique $type)) }}
            {{ end }}
            {{/* END Loop conforme criteria */}}
            {{/* START Loop nonconforme criteria */}}
            {{ range $id, $value := $render.criteria.nonconforme }}
              {{ $data.Add (printf "%s%s-nc" $id $type) 1 }}
              {{ $data.SetInMap (printf "average-%s-nonconforme" $type) (string $id) ($data.Get (printf "%s%s-nc" $id $type)) }}
              {{ $thematique := "" }}
              {{ with (in $id ".") }}
                {{ $thematique = (index (index $ref $type).topics (sub (int (delimit (first 1 (split $id ".")) "")) 1)) }}
              {{ else }}
                {{ $referential    := (partialCached "render/referential-version.html" (dict "context" $context "referential" "opquast") $context "opquast").guideline }}
                {{ $criteriafile   := (index (index $context.Site.Data $referential.name) (string $referential.version)).criteria.criteres }}
                {{ $thematique     =  (index (index (where $criteriafile "number" (float $id)) 0).thema 0).fr }}
              {{ end }}
              {{ $data.Add (printf "%s%s-nc-t" $thematique $type) 1 }}
              {{ $data.Add (printf "%s-list-t" $type) $thematique }}
              {{ $data.SetInMap (printf "average-%s-nonconforme-t" $type) (string $thematique) ($data.Get (printf "%s%s-nc-t" $thematique $type)) }}
            {{ end }}
            {{/* END Loop conforme criteria */}}
            {{/* START Loop non applicable criteria */}}
            {{ range $id, $value := $render.criteria.nonapplicable }}
              {{ $data.Add (printf "%s%s-na" $id $type) 1 }}
              {{ $data.SetInMap (printf "average-%s-nonapplicable" $type) (string $id) ($data.Get (printf "%s%s-na" $id $type)) }}
              {{ $thematique := "" }}
              {{ with (in $id ".") }}
                {{ $thematique = (index (index $ref $type).topics (sub (int (delimit (first 1 (split $id ".")) "")) 1)) }}
              {{ else }}
                {{ $referential    := (partialCached "render/referential-version.html" (dict "context" $context "referential" "opquast") $context "opquast").guideline }}
                {{ $criteriafile   := (index (index $context.Site.Data $referential.name) (string $referential.version)).criteria.criteres }}
                {{ $thematique     =  (index (index (where $criteriafile "number" (float $id)) 0).thema 0).fr }}
              {{ end }}
              {{ $data.Add (printf "%s%s-na-t" $thematique $type) 1 }}
              {{ $data.Add (printf "%s-list-t" $type) $thematique }}
              {{ $data.SetInMap (printf "average-%s-nonapplicable-t" $type) (string $thematique) ($data.Get (printf "%s%s-na-t" $thematique $type)) }}
            {{ end }}
            {{/* END Loop nonapplicable criteria */}}
            {{/* START Loop all criteria :: again for filling map for percentage */}}
            {{ range $id, $value := $render.criteria.all }}
              {{/* WARNING "average-%s-nonconforme" can have a nil value */}}
              {{ with not ($data.Get (printf "average-%s-nonconforme" $type)) }}
                {{ $data.SetInMap (printf "average-%s-nonconforme" $type) (string $id) 0 }}
              {{ end }}
              {{ if and (($data.Get (printf "average-%s-nonconforme" $type))) (gt (int (index ($data.Get (printf "average-%s-nonconforme" $type)) $id)) 0) (gt (int (index ($data.Get (printf "average-%s-conforme" $type)) $id)) 0) }}
                {{ $result := (div (mul (index ($data.Get (printf "average-%s-conforme" $type)) $id) 100) (add (index ($data.Get (printf "average-%s-conforme" $type)) $id) (index ($data.Get (printf "average-%s-nonconforme" $type)) $id))) }}
                {{ if eq $result 100 }}
                  {{ $data.SetInMap (printf "average-%s-pourcentage-100" $type) (string $id) $result }}
                {{ else if and (ge $result 80) (lt $result 100) }}
                  {{ $data.SetInMap (printf "average-%s-pourcentage-80" $type) (string $id) $result }}
                {{ else if and (ge $result 50) (lt $result 80) }}
                  {{ $data.SetInMap (printf "average-%s-pourcentage-50" $type) (string $id) $result }}
                {{ else if and (ge $result 30) (lt $result 50) }}
                  {{ $data.SetInMap (printf "average-%s-pourcentage-30" $type) (string $id) $result }}
                {{ else }}
                  {{ $data.SetInMap (printf "average-%s-pourcentage-00" $type) (string $id) $result }}
                {{ end }}
                {{ $data.SetInMap (printf "average-%s-pourcentage" $type) (string $id) $result }}
              {{ else if and (eq (int (index ($data.Get (printf "average-%s-nonconforme" $type)) $id)) 0) (eq (int (index ($data.Get (printf "average-%s-conforme" $type)) $id)) 0) }}
                {{ $data.SetInMap (printf "average-%s-pourcentage" $type) (string $id) "NA" }}
              {{ else if and (eq (int (index ($data.Get (printf "average-%s-nonconforme" $type)) $id)) 0) (gt (int (index ($data.Get (printf "average-%s-conforme" $type)) $id)) 0) }}
                {{ $data.SetInMap (printf "average-%s-pourcentage" $type) (string $id) 100 }}
              {{ else }}
                {{ $data.SetInMap (printf "average-%s-pourcentage" $type) (string $id) "0" }}
              {{ end }}
            {{ end }}
            {{/* END Loop all criteria */}}
          {{ end }}

          {{ $score := $render.scores.compliance }}
          {{ $data.Set (printf "aggregate-%s-context" $type) $contextaudit }}
          {{ $data.Add (printf "aggregate-%s-list" $type) $score }}
          {{ $data.Add (printf "aggregate-%s-sum" $type) $score  }}
          {{ if lt $score 50 }}
            {{ $data.Add (printf "aggregate-%s-nc" $type) $score }}
          {{ end }}
          {{ if eq $score 100 }}
            {{ $data.Add (printf "aggregate-%s-c" $type) $score }}
          {{ end }}

        {{ end }}
      {{ end }}
      {{ end }}
    {{ end }}
    {{/* END Loop over referential :: calculate */}}

    {{ with (index (partialCached "render/lastfile.html" (dict "context" . "project" $project "type" "performance") $project "performance") "auditfile-all-path") }}
    {{ if (not (in . "false")) }}
      {{ range $id, $value := last 1 (sort .) }}
        {{ $render := (partialCached "render/performance.html" (dict "context" "aggregate" "auditfile" . ) .) }}
        {{ $data.SetInMap $project "performance" $render }}
        {{ $score := $render.ecoscore }}
        {{ $data.Add "aggregate-performance-list" $score }}
        {{ $data.Add "aggregate-performance-sum" $score }}
      {{ end }}
    {{ end }}
    {{ end }}

    {{ if (eq (getenv "HUGO_ENV") "debugperf") }}
      {{ $data.SetInMap "debugperf" $path (string (sub now.UnixMilli $timepartial)) }}
      {{ $timepartial   = now.UnixMilli }}
    {{ end }}

  {{ end }}
  {{ $data.SetInMap "allscores" $project           ($data.Get $project) }}
  {{ end }}
{{ end }}

{{/* START Loop over referential :: adding value in a Map */}}
{{ range $id, $value := $reflist }}

  {{ $type  := . }}
  {{ $dict1 := dict }}
  {{ $dict2 := dict }}

  {{ $data.SetInMap (printf "aggregate%s" .) "context"            ($data.Get (printf "aggregate-%s-context" .)) }}
  {{ $data.SetInMap (printf "aggregate%s" .) "all"                ($data.Get (printf "aggregate-%s-list" .)) }}
  {{ $data.SetInMap (printf "aggregate%s" .) "invalid"            ($data.Get (printf "aggregate-%s-nc" .)) }}
  {{ $data.SetInMap (printf "aggregate%s" .) "valid"              ($data.Get (printf "aggregate-%s-c" .)) }}
  {{ $data.SetInMap (printf "aggregate%s" .) "sum"                ($data.Get (printf "aggregate-%s-sum" .)) }}
  {{ $data.SetInMap (printf "aggregate%s" .) "average"            slice }}
  {{ with ($data.Get (printf "aggregate-%s-list" .)) }}
    {{ $data.SetInMap (printf "aggregate%s" $type) "average"          (div ($data.Get (printf "aggregate-%s-sum" $type)) (len .)) }}
  {{ end }}
  {{ $dict1 = (dict
    "pourcentage"              ($data.Get (printf "average-%s-pourcentage"     $type))
    "pourcentage100"           ($data.Get (printf "average-%s-pourcentage-100" $type))
    "pourcentage80"            ($data.Get (printf "average-%s-pourcentage-80"  $type))
    "pourcentage50"            ($data.Get (printf "average-%s-pourcentage-50"  $type))
    "pourcentage30"            ($data.Get (printf "average-%s-pourcentage-30"  $type))
    "pourcentage00"            ($data.Get (printf "average-%s-pourcentage-00"  $type))
    "conforme"                 ($data.Get (printf "average-%s-conforme"        $type))
    "nonconforme"              ($data.Get (printf "average-%s-nonconforme"     $type))
    "nonapplicable"            ($data.Get (printf "average-%s-nonapplicable"   $type))
    "all"                      ($data.Get (printf "average-%s-conforme"        $type))
  ) }}
  {{ if and ($data.Get (printf "average-%s-conforme" $type)) ($data.Get (printf "average-%s-nonconforme" $type)) }}
    {{ $dict1 = merge $dict1 (dict "all" (merge ($data.Get (printf "average-%s-conforme" $type)) ($data.Get (printf "average-%s-nonconforme" $type)))) }}
  {{ end }}
  {{ if and ($data.Get (printf "average-%s-nonapplicable" $type)) ($data.Get (printf "average-%s-nonconforme" $type)) }}
    {{ $dict1 = merge $dict1 (dict "all" ((merge (merge ($data.Get (printf "average-%s-conforme" $type)) ($data.Get (printf "average-%s-nonconforme" $type))) ($data.Get (printf "average-%s-nonapplicable" $type)))))}}
  {{ end }}
  {{ if and ($data.Get (printf "average-%s-nonapplicable" $type)) (not (and ($data.Get (printf "average-%s-conforme" $type)) ($data.Get (printf "average-%s-nonconforme" $type)))) }}
    {{ $dict1 = merge $dict1 (dict "all" ($data.Get (printf "average-%s-nonapplicable" $type))) }}
  {{ end }}
  {{ if and ($data.Get (printf "average-%s-nonconforme" $type)) (not (and ($data.Get (printf "average-%s-conforme" $type)) ($data.Get (printf "average-%s-nonapplicable" $type)))) }}
    {{ $dict1 = merge $dict1 (dict "all" ($data.Get (printf "average-%s-nonconforme" $type))) }}
  {{ end }}

  {{ if and ($data.Get (printf "average-%s-conforme-t" $type)) ($data.Get (printf "average-%s-nonconforme-t" $type)) }}

    {{ range $id, $value := (merge (merge ($data.Get (printf "average-%s-conforme-t" $type)) ($data.Get (printf "average-%s-nonconforme-t" $type))) ($data.Get (printf "average-%s-nonapplicable-t" $type))) }}
      {{ $data.SetInMap "thematique" $id  slice }}
      {{ if and (gt (int (index ($data.Get (printf "average-%s-nonconforme-t" $type)) $id)) 0) (gt (int (index ($data.Get (printf "average-%s-conforme-t" $type)) $id)) 0) }}
        {{ $result := (div (mul (index ($data.Get (printf "average-%s-conforme-t" $type)) $id) 100) (add (index ($data.Get (printf "average-%s-conforme-t" $type)) $id) (index ($data.Get (printf "average-%s-nonconforme-t" $type)) $id))) }}
        {{ $data.SetInMap (printf "average-%s-pourcentage-t" $type) (string $id) $result }}
      {{ else if and (eq (int (index ($data.Get (printf "average-%s-nonconforme-t" $type)) $id)) 0) (eq (int (index ($data.Get (printf "average-%s-conforme-t" $type)) $id)) 0) }}
        {{ $data.SetInMap (printf "average-%s-pourcentage-t" $type) (string $id) "NA" }}
      {{ else if and (eq (int (index ($data.Get (printf "average-%s-nonconforme-t" $type)) $id)) 0) (gt (int (index ($data.Get (printf "average-%s-conforme-t" $type)) $id)) 0) }}
        {{ $data.SetInMap (printf "average-%s-pourcentage-t" $type) (string $id) 100 }}
      {{ else }}
        {{ $data.SetInMap (printf "average-%s-pourcentage-t" $type) (string $id) "0" }}
      {{ end }}
    {{ end }}
    {{ $dict2 = (dict
        "thematiquelist"           (uniq ($data.Get (printf "%s-list-t"            $type)))
        "thematiqueconforme"       ($data.Get (printf "average-%s-conforme-t"      $type))
        "thematiquenonconforme"    ($data.Get (printf "average-%s-nonconforme-t"   $type))
        "thematiquenonapplicable"  ($data.Get (printf "average-%s-nonapplicable-t" $type))
        "thematiquepourcentage"    ($data.Get (printf "average-%s-pourcentage-t"   $type))
    ) }}
  {{ end }}
  {{ $data.SetInMap "average" $type   (merge $dict1 $dict2)
}}

{{ end }}
{{/* END Loop over referential :: adding value in a Map */}}

{{ $data.SetInMap "aggregateperformance" "all"                  ($data.Get "aggregate-performance-list") }}
{{ $data.SetInMap "aggregateperformance" "sum"                  ($data.Get "aggregate-performance-sum")  }}
{{ $data.SetInMap "aggregateperformance" "average"              slice }}
{{ with ($data.Get "aggregate-performance-list") }}
  {{ $data.SetInMap "aggregateperformance" "average"            (div ($data.Get "aggregate-performance-sum") (len ($data.Get "aggregate-performance-list"))) }}
{{ end }}

{{ $data.SetInMap "aggregates" "accessibility"                  ($data.Get "aggregateaccessibility") }}
{{ $data.SetInMap "aggregates" "raweb"                          ($data.Get "aggregateraweb") }}
{{ $data.SetInMap "aggregates" "ecoconception"                  ($data.Get "aggregateecoconception") }}
{{ $data.SetInMap "aggregates" "opquast"                        ($data.Get "aggregateopquast")       }}
{{ $data.SetInMap "aggregates" "publishing"                     ($data.Get "aggregatepublishing")    }}
{{ $data.SetInMap "aggregates" "performance"                    ($data.Get "aggregateperformance")   }}
{{ $data.SetInMap "aggregates" "allscores"                      ($data.Get "allscores")              }}
{{ $data.SetInMap "aggregates" "allaverage"                     ($data.Get "average")                }}

{{ return ($data.Get "aggregates") }}

{{ if (eq (getenv "HUGO_ENV") "debugperf") }}
  {{ warnf ".." }}
  {{ warnf "Aggregates------------------------------------------------------------" }}
  {{ range $key, $value := ($data.Get "debugperf") }}
    {{ $time := . }}
    {{ warnf "=> Aggregates     Parti | %s%sms| %q" (cond (eq (len $time) 4) "" (cond (eq (len $time) 3) " " (cond (eq (len $time) 2) "  " "   "))) $time $key }}
  {{ end }}
  {{ $time := string (sub now.UnixMilli $time) }}
  {{ warnf "=> Aggregates     Total | %s%sms|" (cond (eq (len $time) 4) "" (cond (eq (len $time) 3) " " (cond (eq (len $time) 2) "  " "   "))) $time }}
{{ end }}
