{{/* Determine value of the audits context depends of his location */}}
{{ $context      := .context }}
{{ $pathFile := "" }}{{ with .File }}{{ $path = .Path }}{{ end }}
{{ $data         := newScratch }}
{{ $Type         := cond (not .type) "accessibility" .type }}
{{ $project      := .project }}
{{ $path         := "/" }}

{{ $result     := (partialCached "render/filepath" (dict "project" $project "type" $Type) $project $Type) }}
{{ $path       = cond (fileExists $result) $result $path }}

{{ $data.Set "datecontext" "" }}
{{ $projectname  := delimit (last 1 (split $project "/")) "" }}
{{/* If context.yml exists in audit folder */}}
{{ if fileExists $path }}
  {{ range $id, $value := readDir $path }}
    {{ if eq .Name "context.yml" }}
      {{ $file := readFile (printf "%s/%s" $path .Name) }}
      {{/* If file empty or not */}}
      {{ if $file }}
        {{ $filecontent := $file | transform.Unmarshal }}
        {{/* Range context.yml file content */}}
        {{ range $date, $value := $filecontent.audits }}
          {{ $guidelines := (partial "render/guideline.html" .guidelines) }}
          {{ $guidelines := (partial "render/referential-version.html" (dict "context" $context "Type" $Type "referential" $guidelines.name "version" $guidelines.version) $guidelines.name $context).guideline }}
          {{ $data.SetInMap "context" $date (dict "declared" true "contacts" (cond (not $filecontent.contacts) ($context.Site.Params.contacts) ($filecontent.contacts)) "website" $filecontent.website "audit" (index $filecontent.audits $date) "guidelines" $guidelines "path" $path "type" $Type) }}
        {{ end }}
      {{ else }}
        {{/* If file exists but it is empty */}}
        {{ warnf "Context file %s is empty" $path }}
      {{ end }}
    {{ else }}
    {{/* Take the date of the last file */}}
    {{ $data.Set "datecontext" (replace .Name (path.Ext .Name) "") }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* If context.yml doesn’t exist in audit path try to find context information it in another location */}}
{{ if not ($data.Get "context") }}
  {{/* In a front matter of the current page */}}
  {{ $value       := (index $context.Params $Type) }}
  {{ $contextpath := cond (fileExists (printf "/audits/%s/%s.md" $Type $project)) (printf "/audits/%s/%s.md" $Type $project) (cond (fileExists (printf "/audits/%s/_index.md" $project)) (printf "/audits/%s/_index.md" $project) (printf "/audits/%s/index.md" $project)) }}
  {{ $guidelines  := (partial "render/guideline.html" $value.audit.guidelines) }}
  {{ $guidelines  := (partialCached "render/referential-version.html" (dict "context" $context "Type" $Type "referential" $guidelines.name "version" $guidelines.version) $context $guidelines.name $Type).guideline }}
  {{ with $context.GetPage $contextpath }}{{ $data.SetInMap "context" ($data.Get "datecontext") (dict "declared" $value "contacts" (cond (not $value.contacts) ($context.Site.Params.contacts) ($value.contacts)) "website" $value.website "audit" ($value.audit) "guidelines" $guidelines "path" $contextpath "type" $Type) }}{{ end }}
  {{/* If content has only one project */}}
  {{ if (partialCached "render/issimpleproject.html" "arg" "arg") }}
    {{ $contextpath := cond (fileExists (printf "/audits/%s.md" $Type)) ((printf "/audits/%s.md" $Type)) (cond (fileExists "/audits/_index.md") ("/audits/_index.md") ("/audits/index.md")) }}
    {{ with $context.GetPage $contextpath }}{{ $data.SetInMap "context" ($data.Get "datecontext") (dict "declared" $value "contacts" (cond (not $value.contacts) ($context.Site.Params.contacts) ($value.contacts)) "website" $value.website "audit" ($value.audit) "guidelines" $guidelines "path" $contextpath "type" $Type) }}{{ end }}
  {{ end }}

{{ end }}
{{/* If context information doesn’t exist :: try to warn */}}
{{ if not ($data.Get "context") }}
  {{ warnf "Context is not declared for %s see the documentation" $path }}
{{ else }}
  {{ if and ($data.Get "datecontext") (index ($data.Get "context") ($data.Get "datecontext")).declared }}
    {{ $path := "" }}
    {{ with (index ($data.Get "context") ($data.Get "datecontext")).path }}{{ $path = . }}{{ else }}{{ $path = "" }}{{ end }}
    {{/*  if (cond (not .Params.accessibility.contacts) ($context.Site.Params.contacts) (.Params.accessibility.contacts)) }}
      {{ warnf "%s %s"  "Contact informations are taking from config.toml" $path }}
    {{ end */}}
    {{ if not (index ($data.Get "context") ($data.Get "datecontext")).contacts }}
      {{ warnf "%s %s" "Contact informations are missing or misformed in" $path }}
    {{ end }}
    {{ if not (index ($data.Get "context") ($data.Get "datecontext")).website }}
      {{ warnf "%s %s" "Website informations are missing or misformed in" $path }}
    {{ end }}
    {{ if not (index ($data.Get "context") ($data.Get "datecontext")).audit }}
      {{ warnf "%s %s" "Audit informations are missing or misformed in" $path }}
    {{ end }}
  {{ else }}
    {{/* This line Should debug "audits/_index.md" path for list.xxxx.json output */}}
    {{ if and (ne (printf "%s/%s" (path.Dir $path) (path.Base $path)) "audits/_index.md") (partialCached "render/issimpleproject.html" "arg" "arg") }}
      {{ warnf "Context is not declared for %s see the documentation - it can be done in files content/audits/%s or content/audits/%s/accessibility/context.yml" (cond (not $projectname) (printf "this project") (printf "the project %s" $project)) $path $project }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return ($data.Get "context") }}
