{{/* Build an object with all the scores :: context, path... */}}
{{ $types          := .type }}
{{ $auditsfiles    := (partialCached "render/lastfile.html" (dict "context" .context "project" .project "type" $types "datafilename" .datafilename) .project $types .datafilename) }}
{{ $contextaudit   := (partialCached "render/context.html"  (dict "context" .context "project" .project "type" $types) .context .project $types) }}

{{ $referential    := "" }}
{{ $auditlastpath  := (index $auditsfiles "auditfile-path") }}
{{ $auditcontent   := "" }}
{{ $auditscores    := dict }}

{{ if (not (in $auditlastpath "false")) }}
  {{ $referential    := (partialCached "render/referential-version.html" (dict "context" .context "project" "meta-score" "referential" $types) $types).guideline }}
  {{ $auditcontent = (readFile $auditlastpath | transform.Unmarshal (dict "delimiter" ",")) }}
  {{ $auditscores  = cond (ne $auditlastpath "") (partialCached (printf "render/%s.html" (cond (eq $types "raam") "accessibility" (cond (eq $types "raweb") "accessibility" $types))) (dict "context" "accessibilityscores" "auditfile" $auditlastpath "auditname" (index $contextaudit (index $auditsfiles "auditfile-name")).guidelines.name "$guidelines" $referential ) $auditlastpath) "" }}
{{ end }}

{{ return
  (dict
    "auditfiles"       $auditsfiles
    "auditfile-path"   $auditlastpath
    "auditcontent"     $auditcontent
    "auditscores"      $auditscores
    "context"          $contextaudit
  )
}}
