{{/*
  MARK: FIND all the value of version for a referential
*/}}

{{/*
  MARK: Declare Variables
*/}}
{{ $context        := .context }}
{{ $referential    := trim .referential " " }}
{{ $Type           := trim (cond (not .Type) "" .Type) " " }}
{{ $data           := newScratch }}
{{ $path           := "" }}
{{ $patharray      := (symdiff (split ($context.RelPermalink) "/") (slice ""))}}

{{ if (and (eq $referential "any") (or (eq $Type "accessibility") (eq $Type "ecoconception"))) }}
  {{ warnf "Guideline value in audit context file is empty : %s %s %s" $Type .project $context.Title }}
{{ end }}

{{/* Only for accessibility because of differents guidelines version are existing :: RGAA, RAWeb, WCAG */}}
{{ $referential := cond (and (eq $referential "any") (eq $Type "accessibility")) "rgaa"       $referential }}
{{ $referential := cond (and (eq $referential "any") (eq $Type "raweb"))         "raweb"      $referential }}
{{ $referential := cond (and (eq $referential "any") (eq $Type "raam"))          "raam"       $referential }}
{{ $referential := cond (and (eq $referential "any") (eq $Type "opquast"))       "opquast"    $referential }}
{{ $referential := cond (and (eq $referential "any") (eq $Type "ecoconception")) "rgesn"      $referential }}
{{ $referential := cond (and (eq $referential "any") (eq $Type "publishing"))    "publishing" $referential }}

{{ $versionallarray := "" }}
{{ $data.Set "versionallarray" slice }}

{{/*
  MARK: Loop over all directories in a guidelines for finding all versions of this guideline
*/}}
{{ range $key, $value := index (index $context.Site.Data (trim $referential " ")) $context.Lang }}
  {{ if in $key "." }}
    {{ if ne $versionallarray (slicestr $key 0 3) }}{{ $data.Set "versionallarray" slice }}{{ end }}
    {{ $data.Add "versionallarray" $key }}
    {{ $data.SetInMap "versionall" (slicestr $key 0 3) ($data.Get "versionallarray") }}
    {{ $versionallarray = (slicestr $key 0 3) }}
  {{ end }}
{{ end }}

{{ $data.Set "name"    $referential }}
{{ $data.Set "version" (cond (or (eq .version "0") (not .version)) (cond (not (delimit (last 1 ($data.Get "versionallarray")) "")) "ko" (delimit (last 1 ($data.Get "versionallarray")) "")) .version) }}

{{ if and (ge ($patharray) 3) (ne (delimit (first 1 $patharray) "") "audits") (ne (delimit (first 1 $patharray) "") "organism") (index ($data.Get "versionall") (index $patharray 1)) }}
  {{ $data.Set "name" (index $patharray 0) }}
  {{ $data.Set "version" (index (last 1 (index ($data.Get "versionall") (index $patharray 1))) 0) }}
{{ end }}

{{ return (dict
  "guideline" (dict
      "name"                ($data.Get "name")
      "lang"                ($context.Lang)
      "version"             ($data.Get "version")
      "versionmajor"        (index (split ($data.Get "version") ".") 0)
      "versionall"          ($data.Get "versionall")
    )
)}}
