{{ return (dict
    "actions"         (slice "actions" "action")
    "accessibility"   (slice "accessibility" "rgaa")
    "raweb"           (slice "raweb")
    "greenit"         (slice "greenit")
    "cigref"          (slice "cigref")
    "ecoconception"   (slice "rgesn")
    "opquast"         (slice "opquast")
    "publishing"      (slice "publishing")
    "ecoindex"        (slice "ecoindex")
    "recommendation"  (slice "quality" "recommendation" "recommendations" "recommandation" "recommandations")
    "quality"         (slice "quality" "recommendation" "recommendations" "recommandation" "recommandations")
    "performance"     (slice "lighthouse" "performance")
    "lighthouse"      (slice "lighthouse" "performance")
    )
}}
